<div class="modal-header">
	<h3 class="modal-title">修改{{commercials[comm.insTypeId].typeName}}</h3>
</div>
<div class="modal-body">

	<form class="form-horizontal" name="add_form">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">基准值</label>
	    <div class="col-sm-10">
	      <select
	      	id="insuranceStandard"
	      	ng-model="selectedValue"
	      	class="form-control"
	      	ng-change="getCalcAmount()"
	      	ng-options="c as c.selectName for c in commercials[comm.insTypeId].options">
	      </select>
	    </div>
	  </div>
	  <div class="form-group" ng-show="addData.trialAmount">
	    <label class="col-sm-2 control-label">试算金额</label>
	    <div class="col-sm-10">
	    	<span class="form-control">{{addData.trialAmount}}</span>
	    </div>
	  </div>
	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="edit()" ng-disabled="submitting || calcing">修改</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>