<div class="modal-header">
	<h3 class="modal-title">录入交易单号</h3>
</div>
<div class="modal-body">

	<form name="deal_num_form">
	  <div class="form-group">
      <label for="dealNum">请输入交易单号</label>
      <input type="text" class="form-control" name="dealNum" placeholder="请输入订单号" ng-change="trim()" ng-model="dealNum">
    </div>
	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="saveDealNum()" ng-disabled="submitting">保存</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>