
<style>
	#goback{
		position: fixed;
		right: 20px;
		bottom: 100px;
		background: #ff6600;
		color: #fff;
		display: block;
		width: 60px;
		line-height: 40px;
		text-align: center;
		opacity: .3;
	}
	#goback:hover{
		opacity: 1;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
</style>
<a ng-click="goBack()" id="goback"><i class="glyphicon glyphicon-chevron-left"></i> 返回</a>

<p class="alert alert-warning clearfix">
	<span>用户名：{{order.data.user.name}} |</span>
	<span>电话：{{order.data.user.phone}} |</span>
	<span>订单号： {{order.data.orderNo}} |</span>
	<span>状态： {{order.data.orderStatusDesc}} |</span>
	<span ng-if="order.data.tradeNo">交易单号：{{order.data.tradeNo}} |</span>
	<span ng-if="order.data.verifyWay == 1">核保方式：线下核保 |</span>
	<span ng-if="order.data.verifyWay == 2">核保方式：在线核保 |</span>

	<!-- 
	  支付金额：￥{{order.data.paidAmount}}   退款金额： ￥0
	<button class="btn btn-danger pull-right" ng-if="authority == 6">退款</button> -->
	<button class="btn btn-primary pull-right" ng-if="authority == 8" ng-click="inputExpressNum()">录入快递单号</button>
	<button class="btn btn-primary pull-right" ng-if="authority == 6" ng-click="inputDealNum()">录入交易单号</button>
	<button class="btn btn-primary pull-right" ng-if="authority == 7" ng-click="inputPolicyNum()">录入保单号</button>
	<!-- <button class="btn btn-primary pull-right" ng-if="authority == 9 && order.data.auditStatus == 0" ng-click="auditRefund()">退款审核</button> -->
	<button class="btn btn-primary pull-right" ng-if="authority == 9 && order.data.orderStatus == 14" ng-click="refund()">退款</button>
	<button class="btn btn-primary pull-right" ng-if="authority == 11 && order.data.orderStatus == 26" ng-click="refundPolicy()">退保</button>
	<button class="btn btn-danger pull-right" ng-if="order.data.payOrders.length == 0 && (order.data.orderStatus < 14 || order.data.orderStatus > 19)" ng-click="cancelOrder()">订单取消</button>
	<button class="btn btn-danger pull-right" ng-if="order.data.orderStatus == 20" ng-click="transferPolicy()">我要转单</button>
	<button class="btn btn-danger pull-right" ng-if="order.data.canApplyRefund && authority != 8 && (order.data.orderStatus <= 8)" title="该用户存在支付，不能直接取消，请走申请退款流程" ng-click="applyReFund()" ng-disabled="applyReFunding">申请退款</button>
	<button class="btn btn-danger pull-right" ng-if="(authority == 7 || authority ==8 || (order.data.orderStatus >= 8 && order.data.orderStatus <=13))" title="该用户存在支付，不能直接取消，请走申请退保流程" ng-click="applyReFundPolicy()" ng-disabled="applyReFundPolicying">申请退保</button>
</p>
<div class="alert alert-warning clearfix">
	<p>
		<strong style="color: #EA3E3E;" ng-if="order.data.policyAmount">保单金额：{{order.data.policyAmount}}|</strong>
		<strong style="color: #EA3E3E;" ng-if="order.data.orderAmount">订单金额：{{order.data.orderAmount}}|</strong>
		<strong style="color: #EA3E3E;" ng-if="order.data.paidAmount">用户已支付金额：{{order.data.paidAmount}} </strong>
	</p>
	<p>
		<strong style="color: #EA3E3E;" ng-if="order.data.cashCoupon">现金券金额：{{order.data.cashCoupon.amount}}</strong>
		<strong style="color: #EA3E3E;" ng-if="order.data.bonus">红包金额：{{order.data.bonus.amount}}|红包抵扣金额：{{order.data.bonus.useAmount}}</strong>
	</p>
	<p>
		<strong style="color: #EA3E3E;" ng-if="order.data.deductAmount">应追回金额：{{order.data.deductAmount}}|</strong>
		<strong style="color: #EA3E3E;" ng-if="order.data.chasedAmount">已追回金额：{{order.data.chasedAmount}}</strong>
	</p>
</div>

<div class="line">
	<h3 class="clearfix">被保人信息 <button class="btn btn-primary pull-right" ng-click="edit(0)" ng-if="authority == 3">修改</button> </h3>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>被保人</td>
				<td colspan="4" ng-bind="order.data.userName"></td>
				<td><a ng-click="showImg(order.data.idcardImg)" ng-if="order.data.idcardImg">查看身份证</a></td>
			</tr>
			<tr>
				<td>身份证号</td>
				<td>{{order.data.idCardNo}}</td>
				<td>推荐码</td>
				<td>{{order.data.recommendCode}}</td>
				<td>被保人手机</td>
				<td>{{order.data.phone}}</td>
			</tr>
			<tr>
				<td>收件人</td>
				<td colspan="5" ng-bind="order.data.receiverName"></td>
			</tr>
			<tr>
				<td>收件人手机</td>
				<td>{{order.data.receiverPhone}}</td>
				<td>收件地址</td>
				<td colspan="3">{{order.data.province + order.data.city + order.data.district + order.data.detail}}</td>
			</tr>
		</tbody>
	</table>

</div>

<div class="line">
	<h3 class="clearfix">
		投保车辆信息 
		<a ng-click="showImg(order.data.userCarDto.carLiscenseImg)" ng-if="order.data.userCarDto.carLiscenseImg">(查看行驶证及附件照片)</a>
		<button class="btn btn-primary pull-right" ng-click="edit(1)" ng-if="authority == 3">修改</button> 
	</h3>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>车主</td>
				<td>
					{{order.data.userCarDto.vehicleLicense.owner}}
				</td>
				<td>身份证号</td>
				<td colspan="3">
					{{order.data.userCarDto.vehicleLicense.idcardNo}}
					&nbsp;&nbsp;
					<a ng-click="showImg(order.data.userCarDto.vehicleLicense.idcardImg)" ng-if="order.data.userCarDto.vehicleLicense.idcardImg">查看身份证照片</a>
				</td>
			</tr>
			<tr>
				<td>车牌号</td>
				<td>{{order.data.userCarDto.carNum}}</td>
				<td>行驶城市</td>
				<td colspan="3">{{order.data.userCarDto.cityName}}</td>
			</tr>
			<tr>
				<td>品牌</td>
				<td>{{order.data.userCarDto.carBrandName}}</td>
				<td>车系</td>
				<td>{{order.data.userCarDto.carSeriesName}}</td>
				<td>车型</td>
				<td>{{order.data.userCarDto.carModelName}}</td>
			</tr>
			<tr>
				<td>品牌型号</td>
				<td>{{order.data.userCarDto.vehicleLicense.model}}</td>
				<td>车架号</td>
				<td>{{order.data.userCarDto.vehicleLicense.vin}}</td>
				<td>发动机号</td>
				<td>{{order.data.userCarDto.vehicleLicense.engineNo}}</td>
			</tr>
			<tr>
				<td>使用性质</td>
				<td>{{order.data.userCarDto.vehicleLicense.useCharacterKeyName}}</td>
				<td>核载人数</td>
				<td>{{order.data.userCarDto.vehicleLicense.vehicleSeats}}</td>
				<td>整车质备</td>
				<td>{{order.data.userCarDto.vehicleLicense.quotaWeight + '千克'}}</td>
			</tr>
			<tr>
				<td>排量</td>
				<td>{{order.data.userCarDto.vehicleLicense.emission}}</td>
				<td>整车功率</td>
				<td>{{order.data.userCarDto.vehicleLicense.power}}</td>
				<td>注册登记日期</td>
				<td>{{order.data.userCarDto.vehicleLicense.registerDate}}</td>
			</tr>
			<tr>
				<td>新车购置价</td>
				<td colspan="5">
					{{order.data.userCarDto.vehicleLicense.buyPrice}}
					<span style="color: red;">元</span>
				</td>
			</tr><!-- 
			<tr>
				<td>住址</td>
				<td colspan="5">{{order.data.userCarDto.vehicleLicense.address}}</td>
			</tr> -->
		</tbody>
	</table>

</div>

<style>
	.form-group ul li{
		float: left;
		list-style-type:none;	}
</style>

<button class="btn btn-primary btn-block" ng-show="order.data.insType == 2" ng-if="authority == 3" style="margin-bottom: 20px;" ng-click="addMand()" ng-disabled="submitting">添加交强险</button>
<div class="line" ng-hide="order.data.insType == 2">
	<h3 class="clearfix">
		<span>交强险+车船税</span>
		<span ng-if="order.data.mandatoryPolicyNo">(保单号：{{order.data.mandatoryPolicyNo}})</span>
		<p class="pull-right">
			<span ng-if="authority == 4">
				<label>
					<input type="radio" ng-value="1" ng-model="pass.jqcc"> 通过
				</label>
				<label>
					<input type="radio" ng-value="0" ng-model="pass.jqcc"> 不通过
				</label>
			</span>
			<button class="btn btn-primary" ng-click="editJqcc()" ng-if="order.data.orderStatus == 1 || order.data.orderStatus == 2 || order.data.orderStatus == 3 || order.data.orderStatus == 4">修改交强险到期时间</button>
			<button class="btn btn-primary" ng-click="edit(2)" ng-if="authority == 4">修改交强险</button>
			<button class="btn btn-primary" ng-show="order.data.insType != 2" ng-if="authority == 3" ng-click="deleteMand()">删除交强险</button>
		</p>
	</h3>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th width="150px">车险公司</th>
				<th colspan="3" width="250px">{{order.data.companyName}}</th>
				<th width="200px">生效日期</th>
				<th colspan="2">{{order.data.mandatoryEffectDate}}</th>
			</tr>
		</thead>
		<tbody  ng-if="order.data.verifyWay == 2">
			<tr>
				<td>交强险核保金额</td>
				<td colspan="3">{{order.data.mandatoryTrialPrice}}</td>
				<td>车船税核保金额</td>
				<td colspan="2">{{order.data.vehicleTaxTrialPrice}}</td>
			</tr>	
		</tbody>
		<tbody ng-if="order.data.verifyWay != 2">
		<tr>
				<td>交强险试算金额</td>
				<td colspan="1">{{order.data.mandatoryTrialPrice}}</td>
				<td colspan="1">交强险典典价</td>
				<td colspan="1">{{order.data.mandatoryBenefitPrice ? order.data.mandatoryBenefitPrice : '未核保'}}</td>
				<td>车船税试算金额</td>
				<td colspan="2">{{order.data.vehicleTaxTrialPrice}}</td>
			</tr>
			<tr>
				<td rowspan="4">
					交强险保单价
				</td>
				<td rowspan="4" colspan="3">
					{{order.data.mandatoryAmountTotal ? order.data.mandatoryAmountTotal : '未核保'}}
				</td>
				<td rowspan="4">车船税</td>
				<td>当年应缴</td>
				<td>{{order.data.vehicleTaxNeedPayment ? order.data.vehicleTaxNeedPayment : '未核保'}}</td>
			</tr>
			<tr>
				<td>往年补缴</td>
				<td>{{order.data.vehicleTaxFillupPayment ? order.data.vehicleTaxFillupPayment : '未核保'}}</td>
			</tr>
			<tr>
				<td>滞纳金</td>
				<td>{{order.data.vehicleTaxLateFee ? order.data.vehicleTaxLateFee : '未核保'}}</td>
			</tr>
			<tr>
				<td>合计</td>
				<td>{{order.data.vehicleTaxNeedTotal ? order.data.vehicleTaxNeedTotal : '未核保'}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>核保总金额</td>
				<td colspan="3">{{order.data.mandatoryVerifyAmount ? order.data.mandatoryVerifyAmount : '未核保'}}</td>
				<td>典典报价</td>
				<td colspan="2">{{order.data.mandatoryVerifyBeniftAmount ? order.data.mandatoryVerifyBeniftAmount : '未核保'}}</td>
			</tr>
		</tfoot>
	</table>

</div>

<button class="btn btn-primary btn-block" ng-show="order.data.insType == 1" ng-if="authority == 3" ng-click="initCommercial()" ng-disabled="submitting">添加商业险</button>
<div class="line" ng-hide="order.data.insType == 1">
	<h3 class="clearfix">
		<span>商业险</span>
		<span ng-if="order.data.commercialPolicyNo">(保单号：{{order.data.commercialPolicyNo}})</span>
		<p class="pull-right">
			<span ng-if="authority == 4">
				<label>
					<input type="radio" value="1" ng-model="pass.buss"> 通过
				</label>
				<label>
					<input type="radio" value="0" ng-model="pass.buss"> 不通过
				</label>
			</span>
			<button class="btn btn-primary" ng-click="serviceEditCommercial()" ng-if="order.data.orderStatus == 1 || order.data.orderStatus == 2 || order.data.orderStatus == 3 || order.data.orderStatus == 4">修改商业险到期日期</button>
			<button class="btn btn-primary" ng-click="commercial(0)" ng-if="authority == 3">添加商业险</button>
			<button class="btn btn-primary" ng-click="editCommercial()" ng-if="authority == 4">修改商业险</button>
		</p>
	</h3>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>车险公司</th>
				<th>{{order.data.companyName}}</th>
				
				<th ng-if="order.data.verifyWay!= 2">商业险典典价</th>
			
				<th><span ng-if="order.data.verifyWay!= 2">{{order.data.orderStatus > 3 && order.data.commercialVerifyBeniftPrice ? order.data.commercialVerifyBeniftPrice : '未核保'}}</span></th>
				<th>生效日期</th>
				<th>{{order.data.commercialEffectDate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>险种名称</td>
				<td>默认值</td>
				<td ng-if="order.data.verifyWay!= 2">试算金额</td>
				<td colspan="2">核保金额</td>
				<td>操作</td>
			</tr>
			<tr ng-repeat="p in order.data.policyItems">
				<td>{{p.insTypeName}}</td>
				<td>{{p.condSelectName || '无'}}</td>
				
				<td ng-if="order.data.verifyWay!= 2">{{p.trialAmount}}</td>
				
				<td colspan="2">{{ order.data.orderStatus > 3 &&  p.verifyAmount ? p.verifyAmount : '未核保'}}</td>
				<td>
					<span ng-if="authority != 3">无</span>
					<button class="btn-danger btn" ng-click="deleteCommercialItem(p.policyItemId, p.insTypeId)" ng-disabled="deleting" ng-if="authority == 3">删除</button>
					<button class="btn-primary btn" ng-click="editCommercialItem(p)" ng-if="authority == 3 && p.condSelectValue">修改默认值</button>
				</td>
			</tr>
			<tr>
				<td>总计</td>
				<td></td>
				<td ng-if="order.data.verifyWay!= 2">{{order.data.commercialItemTrailTotalAmount}}</td>
				<td colspan="2">{{order.data.orderStatus > 3 && order.data.commercialItemVerifyTotalAmount ? order.data.commercialItemVerifyTotalAmount : '未核保'}}</td>
				<td></td>
			</tr>
		</tbody>
	</table>

</div>

<div class="line">
	<h3 class="clearfix">
		<span>承保条件</span>
		<p class="pull-right">
			<button class="btn btn-primary" ng-click="editCondition()" ng-if="authority == 3">修改</button>
		</p>
	</h3>

	<table class="table table-bordered">
		<caption>投保城市：{{order.data.orderCity}}</caption>
		<tbody>
			<tr>
				<td>是否指定城市</td>
				<td colspan="4">{{order.data.specifyCity ? '是' : '否'}}</td>
			</tr>
			<tr ng-repeat="d in order.data.specifyDrivers" ng-if="order.data.specifyDrivers">
				<td>指定驾驶员{{$index + 1}}</td>
				<td>{{d.name}}</td>
				<td>{{d.idcardNo}}</td>
				<td>{{d.drivingClass}}</td>
				<td>{{d.firstissuedate}}</td>
			</tr>
			<tr ng-if="!order.data.specifyDrivers || order.data.specifyDrivers.length < 1">
				<td colspan="5">未指定驾驶员</td>
			</tr>
		</tbody>
	</table>

</div>

<div class="line">
	<h3 class="clearfix">
		<span>赠礼信息</span>
	</h3>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td ng-if="order.data.gasCard">
					加油卡
				</td>
				<td ng-if="order.data.gasCard">
					<p style="margin: 0;">
						金额：{{order.data.gasCard.faceAmount}}  
						<!-- <a ng-click="gasCardDiscount(1)" ng-if="authority == 4 || authority == 5" ng-show="!order.data.gasCard.isDiscount">折现</a>
						<a ng-click="gasCardDiscount(0)" ng-if="authority == 4 || authority == 5" ng-show="order.data.gasCard.isDiscount">取消折现</a> -->
					</p>
					<p>
					    状态：{{order.data.gasCard.status}} 
					</p>				
				</td>
				<td ng-if="order.data.giftBag">礼包券</td>
				<td ng-if="order.data.giftBag">
					<p style="margin: 0;">金额：{{order.data.giftBag.amount}}</p>				
					<p style="margin: 0;">状态：{{order.data.giftBag.status}}</p>				
				</td>
			</tr>
			<tr>
				<td>券和红包</td>
				<td colspan="3">
					<div ng-repeat="q in order.data.coupons" style="margin-bottom: 20px;">
						<p>类型：{{q.couponName}}</p>
						<p>金额：{{q.amount / 100}}元</p>
						<p>生效日期：{{q.effectDate | date : 'yyyy-MM-dd'}}</p>
						<p>失效日期：{{q.expireDate | date : 'yyyy-MM-dd'}}</p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="line" ng-if="order.data.payOrders.length > 0">
	<h3 class="clearfix">
		支付信息
	</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>外部交易号</th>
				<th>交易号</th>
				<th>支付方式</th>
				<th>支付金额</th>
				<th>支付时间</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in order.data.payOrders">
				<td>
					{{p.outTradeNo}}
				</td>
				<td>
					{{p.tradeNo}}
				</td>
				<td>
					{{p.orderPaymentMethod}}
				</td>
				<td>
					{{p.payAmount}}
				</td>
				<td>
					{{p.orderPaidTime}}
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="line">
	<h3 class="clearfix">
		图文配置
		<button class="btn btn-primary pull-right" ng-click="changeAttachList(attachlist)" >修改</button>
	</h3>

	<form class="form-horizontal">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>图片名称</th>
					<th>是否已配置</th>
					<th>是否已上传</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in attachlist.data.orderMode">
					<td>{{item.title}}</td>
					<td>{{item.checked ? '是' : '否'}}</td>
					<td>{{item.uploaded ? '是' : '否'}}</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>


<div class="line">
	<h3 class="clearfix">
		订单信息
	</h3>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">

				<table class="table table-bordered" ng-if="order.data.dateRecordDtos">
					<thead>
						<tr>
							<td style="width:60%;">订单记录</td>
							<td>订单备注</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in order.data.dateRecordDtos" >
							<td>
								{{d.dateType}}：{{d.dateValue}}
								<span ng-if="d.operator">
									| 操作人：{{d.operator}}
								</span>
							
							</td>
							<td ng-if="$index==0" rowspan="{{order.data.dateRecordDtos.length}}" ng-bind="order.data.verifyDesc"></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="col-md-7">
				
				<table class="table table-bordered" ng-if="order.data.expressNo">
					<thead>
						<tr>
							<th>快递信息</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{order.data.expressCompanyName}}：{{order.data.expressNo}}</td>
						</tr>
						<tr ng-repeat="e in order.data.expressInfoItems">
							<td>
								{{e.time}}：{{e.context}}
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

<div class="container-fluid" ng-if="authority == 4 || authority == 3">
	<div class="row" ng-if="authority == 4">

		<div class="col-sm-4">
			<button class="btn btn-primary btn-block" ng-click="underwriterSubmit()" ng-disabled="pass.buss == 0 && pass.jqcc == 0" ng-disabled="submitting">通过</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-danger btn-block" ng-click="underwriterNotPass()" ng-disabled="submitting">不通过</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-danger btn-block" ng-click="backToService()" ng-disabled="submitting">退回客服核保</button>
		</div>
		
	</div>
	<div class="row" ng-if="authority == 3">
		<div class="col-md-8 col-md-offset-2">
			<button class="btn btn-primary btn-block" ng-click="serviceSubmit()" ng-disabled="submitting">通过</button>
		</div>
	</div>
</div>