<div class="modal-header">
	<h3 class="modal-title">核保成功附言</h3>
</div>
<div class="modal-body">

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>被保人：</td>
				<td>{{order.userName}}</td>
				<td>车险公司：</td>
				<td>{{order.companyName}}</td>
			</tr>
			<tr>
				<td>手机：</td>
				<td>{{order.phone}}</td>
				<td>保单面额：</td>
				<td>{{allAmount}}</td>
			</tr>
		</tbody>
	</table>

	<form name="comment_form">
	  <div class="form-group">
	    <label for="comment">附言：</label>
      <input type="text" class="form-control" name="comment" placeholder="附言" ng-model="result.verifyDesc">
	  </div>
	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="addComment()" ng-disabled="submitting">确定</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>