/* line 2, ../../../sass/common/form/form.scss */
fieldset {
  padding: 0;
  border: none;
  width: 100%;
  margin: 0 auto;
}

/* line 8, ../../../sass/common/form/form.scss */
.ui-form {
  padding-bottom: 20px;
}
/* line 10, ../../../sass/common/form/form.scss */
.ui-form .filed-item {
  border-top: 1px solid #666;
  width: 96%;
  padding: 20px 2%;
}
/* line 15, ../../../sass/common/form/form.scss */
.ui-form .ui-form-item {
  position: relative;
  width: 96%;
}
/* line 18, ../../../sass/common/form/form.scss */
.ui-form .ui-form-item .icon {
  position: absolute;
  width: 6%;
  left: 0;
  top: 10px;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
/* line 28, ../../../sass/common/form/form.scss */
.ui-form .ui-form-item input {
  display: inline-block;
  margin-left: 6%;
  width: 90%;
  line-height: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 5px;
  text-indent: 10px;
  padding: 0 10px;
  border-color: #ccc;
  vertical-align: middle;
}
/* line 41, ../../../sass/common/form/form.scss */
.ui-form .ui-form-item img {
  margin-top: 20px;
}
/* line 45, ../../../sass/common/form/form.scss */
.ui-form .field-submit {
  margin: 10px;
}
/* line 47, ../../../sass/common/form/form.scss */
.ui-form .field-submit input {
  border-radius: 6px;
}
/* line 51, ../../../sass/common/form/form.scss */
.ui-form .field-forgetpassword {
  margin: 20px;
  font-size: 20px;
  text-align: right;
}
/* line 55, ../../../sass/common/form/form.scss */
.ui-form .field-forgetpassword a, .ui-form .field-forgetpassword a:hover {
  color: #fff;
}
/* line 60, ../../../sass/common/form/form.scss */
.ui-form .field-captcha input {
  width: 40%;
}

/* form */
/* line 67, ../../../sass/common/form/form.scss */
.ui-ipt-item {
  display: -webkit-box;
  height: 26px;
  line-height: 26px;
  color: #666;
}

/* line 73, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel-box, .ui-ipt-box {
  -webkit-box-flex: 11;
  position: relative;
}

/* line 77, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel-box:after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  display: inline-block;
  font-size: 0;
  border-top: 2px solid #666666;
  border-left: 2px solid #666666;
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-transform: rotate(225deg);
}

/* line 91, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-lbl {
  display: block;
  width: 120px;
  height: 26px;
  padding: 0 0 0 10px;
  line-height: 26px;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  color: #666;
}

/* line 102, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-ipt {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  text-align: left;
  color: #333;
  -webkit-box-sizing: border-box;
}

/* line 113, ../../../sass/common/form/form.scss */
.ui-ipt-item .ui-sel {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border: none;
  color: #333;
}

/* line 124, ../../../sass/common/form/form.scss */
.ui-lter-spac-12 {
  letter-spacing: 12px;
}

/* line 133, ../../../sass/common/form/form.scss */
.ui-bd {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 0px 1px 0px rgba(0, 0, 0, 0.5);
}

/* line 136, ../../../sass/common/form/form.scss */
.ui-bd-left {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, -1px 0 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 139, ../../../sass/common/form/form.scss */
.ui-bd-right {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 1px 0 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 142, ../../../sass/common/form/form.scss */
.ui-bd-top {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 -1px 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 145, ../../../sass/common/form/form.scss */
.ui-bd-bottom {
  box-shadow: inset 0 0 0 #000, inset 0 0 0 #000, 0 1px 1px -1px rgba(0, 0, 0, 0.5);
}

/* line 149, ../../../sass/common/form/form.scss */
.ui-form-title {
  padding: 10px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
  font-weight: 700;
}
/* line 158, ../../../sass/common/form/form.scss */
.ui-form-title img {
  vertical-align: middle;
  max-height: 30px;
  max-width: 30px;
}
/* line 163, ../../../sass/common/form/form.scss */
.ui-form-title .icon {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/* line 169, ../../../sass/common/form/form.scss */
.ui-form-mod {
  margin: 10px 10px 15px;
  clear: both;
  color: #333;
  font-size: 16px;
  overflow: hidden;
}
/* line 175, ../../../sass/common/form/form.scss */
.ui-form-mod label, .ui-form-mod input, .ui-form-mod a, .ui-form-mod img {
  display: inline-block;
}
/* line 177, ../../../sass/common/form/form.scss */
.ui-form-mod label em, .ui-form-mod input em, .ui-form-mod a em, .ui-form-mod img em {
  color: red;
}
/* line 181, ../../../sass/common/form/form.scss */
.ui-form-mod label {
  margin-bottom: 10px;
}
/* line 185, ../../../sass/common/form/form.scss */
.ui-form-mod input[type='text'], .ui-form-mod input[type='password'], .ui-form-mod select {
  display: block;
  width: 98%;
  line-height: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 5px;
  text-indent: 10px;
  padding: 0 10px;
  border-color: #ccc;
  vertical-align: middle;
}
/* line 197, ../../../sass/common/form/form.scss */
.ui-form-mod select {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  background: #fff img-url("dropdown_arrow.png") top right no-repeat;
}
/* line 206, ../../../sass/common/form/form.scss */
.ui-form-mod .ui-form-bd input, .ui-form-mod .ui-form-bd select, .ui-form-mod .ui-form-bd textarea, .ui-form-mod .ui-form-bd label {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none;
  text-indent: 8px;
  border-radius: 6px;
  min-height: 36px;
  font-size: 16px;
  margin-bottom: 8px;
}
/* line 217, ../../../sass/common/form/form.scss */
.ui-form-mod .ui-form-bd textarea {
  width: 100%;
  height: 200px;
}
/* line 222, ../../../sass/common/form/form.scss */
.ui-form-mod .ui-form-ft {
  text-align: center;
  font-size: 18px;
  color: #333;
}
