<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.eap.dao.impl.EapSubscribeDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.eap.entity.EapSubscribe">
		<![CDATA[
		INSERT INTO EAP_SUBSCRIBE (
		   	ID,
		   	USER_ID,
		   	USER_NAME,
		   	USER_PHONE,
		   	COMPANY,
		   	SEX,
		   	AGE,
		   	SUBSCRIBE_TIME,
		   	REMARK,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	DELETED
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{userId,jdbcType=INTEGER},
		   	#{userName,jdbcType=VARCHAR},
		   	#{userPhone,jdbcType=VARCHAR},
		   	#{company,jdbcType=VARCHAR},
		   	#{sex,jdbcType=VARCHAR},
		   	#{age,jdbcType=VARCHAR},
		   	#{subscribeTime,jdbcType=TIMESTAMP},
		   	#{remark,jdbcType=VARCHAR},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_EAP_SUBSCRIBE.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.eap.entity.EapSubscribe">
		UPDATE EAP_SUBSCRIBE
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPhone != null">
				USER_PHONE = #{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				COMPANY = #{company,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				AGE = #{age,jdbcType=VARCHAR},
			</if>
			<if test="subscribeTime != null">
				SUBSCRIBE_TIME = #{subscribeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.eap.entity.EapSubscribe">
		<![CDATA[
		UPDATE EAP_SUBSCRIBE
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       USER_ID userId,
		       USER_NAME userName,
		       USER_PHONE userPhone,
		       COMPANY company,
		       SEX sex,
		       AGE age,
		       SUBSCRIBE_TIME subscribeTime,
		       REMARK remark,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       DELETED deleted
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.eap.entity.EapSubscribe">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM EAP_SUBSCRIBE
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.eap.entity.EapSubscribe" resultType="cn.com.eap.entity.EapSubscribe">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM EAP_SUBSCRIBE
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=INTEGER}
			</if>
			<if test="userName != null and userName != ''">
				AND USER_NAME = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="userPhone != null and userPhone != ''">
				AND USER_PHONE = #{userPhone,jdbcType=VARCHAR}
			</if>
			<if test="company != null and company != ''">
				AND COMPANY = #{company,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''">
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="age != null and age != ''">
				AND AGE = #{age,jdbcType=VARCHAR}
			</if>
			<if test="subscribeTime != null">
				AND SUBSCRIBE_TIME = #{subscribeTime,jdbcType=TIMESTAMP}
			</if>
			<if test="remark != null and remark != ''">
				AND REMARK = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.eap.entity.EapSubscribe">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM EAP_SUBSCRIBE
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userId != null">
					AND USER_ID = #{entity.userId,jdbcType=INTEGER}
				</if>
			<if test="entity.userName != null and entity.userName != ''">
				AND (USER_NAME = #{entity.userName,jdbcType=VARCHAR} or USER_PHONE = #{entity.userName,jdbcType=VARCHAR})
			</if>
				<if test="entity.userPhone != null and entity.userPhone != ''">
					AND USER_PHONE = #{entity.userPhone,jdbcType=VARCHAR}
				</if>
				<if test="entity.company != null and entity.company != ''">
					AND COMPANY = #{entity.company,jdbcType=VARCHAR}
				</if>
				<if test="entity.sex != null and entity.sex != ''">
					AND SEX = #{entity.sex,jdbcType=VARCHAR}
				</if>
				<if test="entity.age != null and entity.age != ''">
					AND AGE = #{entity.age,jdbcType=VARCHAR}
				</if>
				<if test="entity.subscribeTime != null">
					AND SUBSCRIBE_TIME = #{entity.subscribeTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.remark != null and entity.remark != ''">
					AND REMARK = #{entity.remark,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM EAP_SUBSCRIBE
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.eap.entity.EapSubscribe">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM EAP_SUBSCRIBE
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
