<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.catagory.dao.impl.CatagoryDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.catagory.entity.Catagory">
		<![CDATA[
		INSERT INTO TSJX_CATAGORY (
		   	ID,
		   	CODE,
		   	CATAGORY_NAME,
		   	PARENT_ID,
		   	LAYER,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	DELETED
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{code,jdbcType=VARCHAR},
		   	#{catagoryName,jdbcType=VARCHAR},
		   	#{parentId,jdbcType=VARCHAR},
		   	#{layer,jdbcType=VARCHAR},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_CATAGORY.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.catagory.entity.Catagory">
		UPDATE TSJX_CATAGORY
		<set>
			<if test="code != null">
				CODE = #{code,jdbcType=VARCHAR},
			</if>
			<if test="catagoryName != null">
				CATAGORY_NAME = #{catagoryName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="layer != null">
				LAYER = #{layer,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.catagory.entity.Catagory">
		<![CDATA[
		UPDATE TSJX_CATAGORY
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       CODE code,
		       CATAGORY_NAME catagoryName,
		       PARENT_ID parentId,
		       LAYER layer,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       DELETED deleted
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.catagory.entity.Catagory">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_CATAGORY
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.catagory.entity.Catagory" resultType="cn.com.tsjx.catagory.entity.Catagory">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_CATAGORY
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="code != null and code != ''">
				AND CODE = #{code,jdbcType=VARCHAR}
			</if>
			<if test="catagoryName != null and catagoryName != ''">
				AND CATAGORY_NAME = #{catagoryName,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null and parentId != ''">
				AND PARENT_ID = #{parentId,jdbcType=VARCHAR}
			</if>
			<if test="layer != null and layer != ''">
				AND LAYER = #{layer,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.catagory.entity.Catagory">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_CATAGORY
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.id != null and entity.id != ''">
					AND ID = #{entity.id,jdbcType=VARCHAR}
				</if>
				<if test="entity.code != null and entity.code != ''">
					AND CODE = #{entity.code,jdbcType=VARCHAR}
				</if>
				<if test="entity.catagoryName != null and entity.catagoryName != ''">
					AND CATAGORY_NAME like CONCAT('%',#{entity.catagoryName,jdbcType=VARCHAR},'%')
				</if>
				<if test="entity.parentId != null and entity.parentId != ''">
					AND PARENT_ID = #{entity.parentId,jdbcType=VARCHAR}
				</if>
				<if test="entity.layer != null and entity.layer != ''">
					AND LAYER = #{entity.layer,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_CATAGORY
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.catagory.entity.Catagory">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_CATAGORY
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
