/* line 2, ../../../sass/common/go-top/go-top.scss */
.go-top {
  position: fixed;
  bottom: 120px;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: none;
}
/* line 13, ../../../sass/common/go-top/go-top.scss */
.go-top .top-bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  border-radius: 50%;
}
/* line 21, ../../../sass/common/go-top/go-top.scss */
.go-top .icon {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
