<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.user.dao.impl.UserDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.user.entity.User">
		<![CDATA[
		INSERT INTO TSJX_USER (
		   	ID,
		   	USER_NAME,
		   	MOBILE,
		   	TELEPHONE,
		   	EMAIL,
		   	PASSWORD,
		   	QQ,
		   	PROVINCE_NAME,
		   	PROVINCE_ID,
		   	CITY_NAME,
		   	CITY_ID,
		   	BUSINESS_SCOPE,
		   	BUSINESS_NATURE,
		   	USER_TYPE,
		   	COMPANY_ID,
		   	SRC,
		   	IS_ACTIVATE,
		   	IS_NEW_MESSAGE,
		   	HEAD_ICON,
		   	LAST_LOGIN_TIME,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	DELETED,
		   	REAL_NAME,
		   	WEIXIN_ACCOUNT
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{userName,jdbcType=VARCHAR},
		   	#{mobile,jdbcType=VARCHAR},
		   	#{telephone,jdbcType=VARCHAR},
		   	#{email,jdbcType=VARCHAR},
		   	#{password,jdbcType=VARCHAR},
		   	#{qq,jdbcType=VARCHAR},
		   	#{provinceName,jdbcType=VARCHAR},
		   	#{provinceId,jdbcType=INTEGER},
		   	#{cityName,jdbcType=VARCHAR},
		   	#{cityId,jdbcType=INTEGER},
		   	#{businessScope,jdbcType=VARCHAR},
		   	#{businessNature,jdbcType=VARCHAR},
		   	#{userType,jdbcType=VARCHAR},
		   	#{companyId,jdbcType=VARCHAR},
		   	#{src,jdbcType=VARCHAR},
		   	#{isActivate,jdbcType=VARCHAR},
		   	#{isNewMessage,jdbcType=VARCHAR},
		   	#{headIcon,jdbcType=VARCHAR},
		   	#{lastLoginTime,jdbcType=TIMESTAMP},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{realName,jdbcType=VARCHAR},
		   	#{weixinAccount,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_USER.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.user.dto.UserDto">
		UPDATE TSJX_USER
		<set>
			<if test="userName != null and userName !=''">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null and mobile !=''">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and telephone !=''">
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="password != null and password !=''">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="qq != null and qq !=''">
				QQ = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="provinceName != null">
				PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
			</if>
			<if test="provinceId != null">
				PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
			</if>
			<if test="cityName != null">
				CITY_NAME = #{cityName,jdbcType=VARCHAR},
			</if>
			<if test="cityId != null">
				CITY_ID = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="businessScope != null">
				BUSINESS_SCOPE = #{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="businessNature != null">
				BUSINESS_NATURE = #{businessNature,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				USER_TYPE = #{userType,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				COMPANY_ID = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="src != null">
				SRC = #{src,jdbcType=VARCHAR},
			</if>
			<if test="isActivate != null">
				IS_ACTIVATE = #{isActivate,jdbcType=VARCHAR},
			</if>
			<if test="isNewMessage != null">
				IS_NEW_MESSAGE = #{isNewMessage,jdbcType=VARCHAR},
			</if>
			<if test="headIcon != null and headIcon != ''">
				HEAD_ICON = #{headIcon,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="realName != null and realName !=''">
				REAL_NAME = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="weixinAccount != null and weixinAccount !=''">
				WEIXIN_ACCOUNT = #{weixinAccount,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.user.entity.User">
		<![CDATA[
		UPDATE TSJX_USER
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       USER_NAME userName,
		       MOBILE mobile,
		       TELEPHONE telephone,
		       EMAIL email,
		       PASSWORD password,
		       QQ qq,
		       PROVINCE_NAME provinceName,
		       PROVINCE_ID provinceId,
		       CITY_NAME cityName,
		       CITY_ID cityId,
		       BUSINESS_SCOPE businessScope,
		       BUSINESS_NATURE businessNature,
		       USER_TYPE userType,
		       COMPANY_ID companyId,
		       SRC src,
		       IS_ACTIVATE isActivate,
		       IS_NEW_MESSAGE isNewMessage,
		       HEAD_ICON headIcon,
		       LAST_LOGIN_TIME lastLoginTime,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       DELETED deleted,
		       REAL_NAME realName,
		       WEIXIN_ACCOUNT weixinAccount
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.user.entity.User">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_USER
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.user.entity.User" resultType="cn.com.tsjx.user.entity.User">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_USER
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userName != null and userName != ''">
				AND USER_NAME = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="mobile != null and mobile != ''">
				AND MOBILE = #{mobile,jdbcType=VARCHAR}
			</if>
			<if test="telephone != null and telephone != ''">
				AND TELEPHONE = #{telephone,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="password != null and password != ''">
				AND PASSWORD = #{password,jdbcType=VARCHAR}
			</if>
			<if test="qq != null and qq != ''">
				AND QQ = #{qq,jdbcType=VARCHAR}
			</if>
			<if test="provinceName != null and provinceName != ''">
				AND PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR}
			</if>
			<if test="provinceId != null">
				AND PROVINCE_ID = #{provinceId,jdbcType=INTEGER}
			</if>
			<if test="cityName != null and cityName != ''">
				AND CITY_NAME = #{cityName,jdbcType=VARCHAR}
			</if>
			<if test="cityId != null">
				AND CITY_ID = #{cityId,jdbcType=INTEGER}
			</if>
			<if test="businessScope != null and businessScope != ''">
				AND BUSINESS_SCOPE = #{businessScope,jdbcType=VARCHAR}
			</if>
			<if test="businessNature != null and businessNature != ''">
				AND BUSINESS_NATURE = #{businessNature,jdbcType=VARCHAR}
			</if>
			<if test="userType != null and userType != ''">
				AND USER_TYPE = #{userType,jdbcType=VARCHAR}
			</if>
			<if test="companyId != null and companyId != ''">
				AND COMPANY_ID = #{companyId,jdbcType=VARCHAR}
			</if>
			<if test="src != null and src != ''">
				AND SRC = #{src,jdbcType=VARCHAR}
			</if>
			<if test="isActivate != null and isActivate != ''">
				AND IS_ACTIVATE = #{isActivate,jdbcType=VARCHAR}
			</if>
			<if test="isNewMessage != null and isNewMessage != ''">
				AND IS_NEW_MESSAGE = #{isNewMessage,jdbcType=VARCHAR}
			</if>
			<if test="headIcon != null and headIcon != ''">
				AND HEAD_ICON = #{headIcon,jdbcType=VARCHAR}
			</if>
			<if test="lastLoginTime != null">
				AND LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="realName != null and realName != ''">
				AND REAL_NAME = #{realName,jdbcType=VARCHAR}
			</if>
			<if test="weixinAccount != null and weixinAccount != ''">
				AND WEIXIN_ACCOUNT = #{weixinAccount,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.user.entity.User">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_USER
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userName != null and entity.userName != ''">
					AND USER_NAME = #{entity.userName,jdbcType=VARCHAR}
				</if>
				<if test="entity.mobile != null and entity.mobile != ''">
					AND MOBILE = #{entity.mobile,jdbcType=VARCHAR}
				</if>
				<if test="entity.telephone != null and entity.telephone != ''">
					AND TELEPHONE = #{entity.telephone,jdbcType=VARCHAR}
				</if>
				<if test="entity.email != null and entity.email != ''">
					AND EMAIL = #{entity.email,jdbcType=VARCHAR}
				</if>
				<if test="entity.password != null and entity.password != ''">
					AND PASSWORD = #{entity.password,jdbcType=VARCHAR}
				</if>
				<if test="entity.qq != null and entity.qq != ''">
					AND QQ = #{entity.qq,jdbcType=VARCHAR}
				</if>
				<if test="entity.provinceName != null and entity.provinceName != ''">
					AND PROVINCE_NAME = #{entity.provinceName,jdbcType=VARCHAR}
				</if>
				<if test="entity.provinceId != null">
					AND PROVINCE_ID = #{entity.provinceId,jdbcType=INTEGER}
				</if>
				<if test="entity.cityName != null and entity.cityName != ''">
					AND CITY_NAME = #{entity.cityName,jdbcType=VARCHAR}
				</if>
				<if test="entity.cityId != null">
					AND CITY_ID = #{entity.cityId,jdbcType=INTEGER}
				</if>
				<if test="entity.businessScope != null and entity.businessScope != ''">
					AND BUSINESS_SCOPE = #{entity.businessScope,jdbcType=VARCHAR}
				</if>
				<if test="entity.businessNature != null and entity.businessNature != ''">
					AND BUSINESS_NATURE = #{entity.businessNature,jdbcType=VARCHAR}
				</if>
				<if test="entity.userType != null and entity.userType != ''">
					AND USER_TYPE = #{entity.userType,jdbcType=VARCHAR}
				</if>
				<if test="entity.companyId != null and entity.companyId != ''">
					AND COMPANY_ID = #{entity.companyId,jdbcType=VARCHAR}
				</if>
				<if test="entity.src != null and entity.src != ''">
					AND SRC = #{entity.src,jdbcType=VARCHAR}
				</if>
				<if test="entity.isActivate != null and entity.isActivate != ''">
					AND IS_ACTIVATE = #{entity.isActivate,jdbcType=VARCHAR}
				</if>
				<if test="entity.isNewMessage != null and entity.isNewMessage != ''">
					AND IS_NEW_MESSAGE = #{entity.isNewMessage,jdbcType=VARCHAR}
				</if>
				<if test="entity.headIcon != null and entity.headIcon != ''">
					AND HEAD_ICON = #{entity.headIcon,jdbcType=VARCHAR}
				</if>
				<if test="entity.lastLoginTime != null">
					AND LAST_LOGIN_TIME = #{entity.lastLoginTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.realName != null and entity.realName != ''">
					AND REAL_NAME = #{entity.realName,jdbcType=VARCHAR}
				</if>
				<if test="entity.weixinAccount != null and entity.weixinAccount != ''">
					AND WEIXIN_ACCOUNT = #{entity.weixinAccount,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_USER
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.user.entity.User">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_USER
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
