<div class="modal-header">
	<h3 class="modal-title">修改车险城市配置</h3>
</div>
<div class="modal-body">

	<form class="form-horizontal" name="edit_car_form">
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">ID</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="param.id" disabled="disabled" >
			</div>
		</div>
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">车险公司名称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="param.name"  placeholder="车险公司名称 必填">
				<span class="form-error" ng-show="nameVaild">请填写车险公司名称 必填项</span>
			</div>
		</div>
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">车险公司简称</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="param.briefName" placeholder="车险公司简称 必填" >
				<span class="form-error" ng-show="briefNameValid">请填写车险公司简称(8个字符以内) 必填项</span>
			</div>
		</div>
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">车险公司代码</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="param.code" placeholder="车险公司代码 必填 大写字母" ng-blur="checkCode()">
				<span class="form-error" ng-show="codeVaild">请填写车险公司代码(四个字母) 必填项</span>
				<span class="form-error" ng-show="codeExsit">该车险公司代码已被使用，请换一个</span>
			</div>
		</div>
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">热线</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" ng-model="param.hotLine" >
			</div>
		</div>
		<div class="form-group">
			<label for="caruserName" class="col-sm-3 control-label">Logo</label>
			<div class="col-sm-9">
				<img src = "{{param.logo + currentDate}}" ng-show = "param.logo == '' ? false : true">
				<a ng-file-select ng-file-change="setFile($files)" class="btn btn-default"> <span ng-bind-template="选择文件(仅支持png图片)"></span>
				</a> <span>{{file.name}}</span>
			</div>
		</div>
	</form>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="updateParam()"
		ng-disabled="submitting">保存</button>
	<button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>