<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.infomation.dao.impl.InfomationDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.infomation.entity.Infomation">
		<![CDATA[
		INSERT INTO TSJX_INFOMATION (
		   	ID,
		   	CATAGORY_BIG_ID,
		   	CATAGORY_BIG_NAME,
		   	CATAGORY_MID_ID,
		   	CATAGORY_MID_NAME,
		   	CATAGORY_ID,
		   	CATAGORY_NAME,
		   	BRAND_ID,
		   	BRAND_NAME,
		   	MODEL_ID,
		   	MODEL_NAME,
		   	IS_NEW,
		   	SELL_TYPE,
		   	EQUIPMENT_CONDITION,
		   	PROCEDURES,
		   	SRC,
		   	EQUIP_YEAR,
		   	WORK_TIME,
		   	PRICE,
		   	SERIAL_NUM,
		   	IN_STOCK_CODE,
		   	REMARK,
		   	EQUIPMENT_LOCATION,
		   	PUB_TIME,
		   	VALID_TIME,
		   	STOCK_COUNT,
		   	SELL_COUNT,
		   	USER_ID,
		   	IS_TOP,
		   	STATUS,
		   	audit_type,
		   	WEIGHT,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	DELETED,
		   	price_unit
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{catagoryBigId,jdbcType=INTEGER},
		   	#{catagoryBigName,jdbcType=VARCHAR},
		   	#{catagoryMidId,jdbcType=INTEGER},
		   	#{catagoryMidName,jdbcType=VARCHAR},
		   	#{catagoryId,jdbcType=INTEGER},
		   	#{catagoryName,jdbcType=VARCHAR},
		   	#{brandId,jdbcType=INTEGER},
		   	#{brandName,jdbcType=VARCHAR},
		   	#{modelId,jdbcType=INTEGER},
		   	#{modelName,jdbcType=VARCHAR},
		   	#{isNew,jdbcType=VARCHAR},
		   	#{sellType,jdbcType=VARCHAR},
		   	#{equipmentCondition,jdbcType=VARCHAR},
		   	#{procedures,jdbcType=VARCHAR},
		   	#{src,jdbcType=VARCHAR},
		   	#{equipYear,jdbcType=VARCHAR},
		   	#{workTime,jdbcType=VARCHAR},
		   	#{price,jdbcType=DECIMAL},
		   	#{serialNum,jdbcType=VARCHAR},
		   	#{inStockCode,jdbcType=VARCHAR},
		   	#{remark,jdbcType=VARCHAR},
		   	#{equipmentLocation,jdbcType=VARCHAR},
		   	#{pubTime,jdbcType=TIMESTAMP},
		   	#{validTime,jdbcType=VARCHAR},
		   	#{stockCount,jdbcType=VARCHAR},
		   	#{sellCount,jdbcType=VARCHAR},
		   	#{userId,jdbcType=INTEGER},
		   	#{isTop,jdbcType=VARCHAR},
		   	#{status,jdbcType=VARCHAR},
		   	#{auditType,jdbcType=INTEGER},
		   	#{weight,jdbcType=VARCHAR},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{priceUnit,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_INFOMATION.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.infomation.entity.Infomation">
		UPDATE TSJX_INFOMATION
		<set>
			<if test="catagoryBigId != null">
				CATAGORY_BIG_ID = #{catagoryBigId,jdbcType=INTEGER},
			</if>
			<if test="catagoryBigName != null">
				CATAGORY_BIG_NAME = #{catagoryBigName,jdbcType=VARCHAR},
			</if>
			<if test="catagoryMidId != null">
				CATAGORY_MID_ID = #{catagoryMidId,jdbcType=INTEGER},
			</if>
			<if test="catagoryMidName != null">
				CATAGORY_MID_NAME = #{catagoryMidName,jdbcType=VARCHAR},
			</if>
			<if test="catagoryId != null">
				CATAGORY_ID = #{catagoryId,jdbcType=INTEGER},
			</if>
			<if test="catagoryName != null">
				CATAGORY_NAME = #{catagoryName,jdbcType=VARCHAR},
			</if>
			<if test="brandId != null">
				BRAND_ID = #{brandId,jdbcType=INTEGER},
			</if>
			<if test="brandName != null">
				BRAND_NAME = #{brandName,jdbcType=VARCHAR},
			</if>
			<if test="modelId != null">
				MODEL_ID = #{modelId,jdbcType=INTEGER},
			</if>
			<if test="modelName != null">
				MODEL_NAME = #{modelName,jdbcType=VARCHAR},
			</if>
			<if test="isNew != null">
				IS_NEW = #{isNew,jdbcType=VARCHAR},
			</if>
			<if test="sellType != null">
				SELL_TYPE = #{sellType,jdbcType=VARCHAR},
			</if>
			<if test="equipmentCondition != null">
				EQUIPMENT_CONDITION = #{equipmentCondition,jdbcType=VARCHAR},
			</if>
			<if test="procedures != null">
				PROCEDURES = #{procedures,jdbcType=VARCHAR},
			</if>
			<if test="src != null">
				SRC = #{src,jdbcType=VARCHAR},
			</if>
			<if test="equipYear != null">
				EQUIP_YEAR = #{equipYear,jdbcType=VARCHAR},
			</if>
			<if test="workTime != null">
				WORK_TIME = #{workTime,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				PRICE = #{price,jdbcType=DECIMAL},
			</if>
			<if test="serialNum != null">
				SERIAL_NUM = #{serialNum,jdbcType=VARCHAR},
			</if>
			<if test="inStockCode != null">
				IN_STOCK_CODE = #{inStockCode,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="equipmentLocation != null">
				EQUIPMENT_LOCATION = #{equipmentLocation,jdbcType=VARCHAR},
			</if>
			<if test="pubTime != null">
				PUB_TIME = #{pubTime,jdbcType=TIMESTAMP},
			</if>
			<if test="validTime != null">
				VALID_TIME = #{validTime,jdbcType=VARCHAR},
			</if>
			<if test="stockCount != null">
				STOCK_COUNT = #{stockCount,jdbcType=VARCHAR},
			</if>
			<if test="sellCount != null">
				SELL_COUNT = #{sellCount,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=INTEGER},
			</if>
			<if test="isTop != null">
				IS_TOP = #{isTop,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="auditType != null">
				audit_type = #{auditType,jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				WEIGHT = #{weight,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="priceUnit != null">
				price_unit = #{priceUnit,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.infomation.entity.Infomation">
		<![CDATA[
		UPDATE TSJX_INFOMATION
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       CATAGORY_BIG_ID catagoryBigId,
		       CATAGORY_BIG_NAME catagoryBigName,
		       CATAGORY_MID_ID catagoryMidId,
		       CATAGORY_MID_NAME catagoryMidName,
		       CATAGORY_ID catagoryId,
		       CATAGORY_NAME catagoryName,
		       BRAND_ID brandId,
		       BRAND_NAME brandName,
		       MODEL_ID modelId,
		       MODEL_NAME modelName,
		       IS_NEW isNew,
		       SELL_TYPE sellType,
		       EQUIPMENT_CONDITION equipmentCondition,
		       PROCEDURES procedures,
		       SRC src,
		       EQUIP_YEAR equipYear,
		       WORK_TIME workTime,
		       PRICE price,
		       SERIAL_NUM serialNum,
		       IN_STOCK_CODE inStockCode,
		       REMARK remark,
		       EQUIPMENT_LOCATION equipmentLocation,
		       PUB_TIME pubTime,
		       VALID_TIME validTime,
		       STOCK_COUNT stockCount,
		       SELL_COUNT sellCount,
		       USER_ID userId,
		       IS_TOP isTop,
		       STATUS status,
		       audit_type auditType,
		       WEIGHT weight,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       DELETED deleted,
		       price_unit priceUnit
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.infomation.entity.Infomation">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_INFOMATION
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.infomation.entity.Infomation" resultType="cn.com.tsjx.infomation.entity.Infomation">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_INFOMATION
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="catagoryBigId != null">
				AND CATAGORY_BIG_ID = #{catagoryBigId,jdbcType=INTEGER}
			</if>
			<if test="catagoryBigName != null and catagoryBigName != ''">
				AND CATAGORY_BIG_NAME = #{catagoryBigName,jdbcType=VARCHAR}
			</if>
			<if test="catagoryMidId != null">
				AND CATAGORY_MID_ID = #{catagoryMidId,jdbcType=INTEGER}
			</if>
			<if test="catagoryMidName != null and catagoryMidName != ''">
				AND CATAGORY_MID_NAME = #{catagoryMidName,jdbcType=VARCHAR}
			</if>
			<if test="catagoryId != null">
				AND CATAGORY_ID = #{catagoryId,jdbcType=INTEGER}
			</if>
			<if test="catagoryName != null and catagoryName != ''">
				AND CATAGORY_NAME = #{catagoryName,jdbcType=VARCHAR}
			</if>
			<if test="brandId != null">
				AND BRAND_ID = #{brandId,jdbcType=INTEGER}
			</if>
			<if test="brandName != null and brandName != ''">
				AND BRAND_NAME = #{brandName,jdbcType=VARCHAR}
			</if>
			<if test="modelId != null">
				AND MODEL_ID = #{modelId,jdbcType=INTEGER}
			</if>
			<if test="modelName != null and modelName != ''">
				AND MODEL_NAME = #{modelName,jdbcType=VARCHAR}
			</if>
			<if test="isNew != null and isNew != ''">
				AND IS_NEW = #{isNew,jdbcType=VARCHAR}
			</if>
			<if test="sellType != null and sellType != ''">
				AND SELL_TYPE = #{sellType,jdbcType=VARCHAR}
			</if>
			<if test="equipmentCondition != null and equipmentCondition != ''">
				AND EQUIPMENT_CONDITION = #{equipmentCondition,jdbcType=VARCHAR}
			</if>
			<if test="procedures != null and procedures != ''">
				AND PROCEDURES = #{procedures,jdbcType=VARCHAR}
			</if>
			<if test="src != null and src != ''">
				AND SRC = #{src,jdbcType=VARCHAR}
			</if>
			<if test="equipYear != null and equipYear != ''">
				AND EQUIP_YEAR = #{equipYear,jdbcType=VARCHAR}
			</if>
			<if test="workTime != null and workTime != ''">
				AND WORK_TIME = #{workTime,jdbcType=VARCHAR}
			</if>
			<if test="price != null">
				AND PRICE = #{price,jdbcType=DECIMAL}
			</if>
			<if test="serialNum != null and serialNum != ''">
				AND SERIAL_NUM = #{serialNum,jdbcType=VARCHAR}
			</if>
			<if test="inStockCode != null and inStockCode != ''">
				AND IN_STOCK_CODE = #{inStockCode,jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''">
				AND REMARK = #{remark,jdbcType=VARCHAR}
			</if>
			<if test="equipmentLocation != null and equipmentLocation != ''">
				AND EQUIPMENT_LOCATION = #{equipmentLocation,jdbcType=VARCHAR}
			</if>
			<if test="pubTime != null">
				AND PUB_TIME = #{pubTime,jdbcType=TIMESTAMP}
			</if>
			<if test="validTime != null and validTime != ''">
				AND VALID_TIME = #{validTime,jdbcType=VARCHAR}
			</if>
			<if test="stockCount != null and stockCount != ''">
				AND STOCK_COUNT = #{stockCount,jdbcType=VARCHAR}
			</if>
			<if test="sellCount != null and sellCount != ''">
				AND SELL_COUNT = #{sellCount,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=INTEGER}
			</if>
			<if test="isTop != null and isTop != ''">
				AND IS_TOP = #{isTop,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				AND STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="auditType != null and auditType != ''">
				AND audit_type = #{auditType,jdbcType=VARCHAR}
			</if>
			<if test="weight != null and weight != ''">
				AND WEIGHT = #{weight,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.infomation.entity.Infomation">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_INFOMATION
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.id != null">
					AND i.id like CONCAT('%',#{entity.id,jdbcType=INTEGER},'%')
				</if>
				<if test="entity.catagoryBigId != null">
					AND i.CATAGORY_BIG_ID = #{entity.catagoryBigId,jdbcType=INTEGER}
				</if>
				<if test="entity.catagoryBigName != null and entity.catagoryBigName != ''">
					AND i.CATAGORY_BIG_NAME
					like CONCAT('%',#{entity.catagoryBigName,jdbcType=VARCHAR},'%')
				</if>
				<if test="entity.catagoryMidId != null">
					AND i.CATAGORY_MID_ID = #{entity.catagoryMidId,jdbcType=INTEGER}
				</if>
				<if test="entity.catagoryMidName != null and entity.catagoryMidName != ''">
					AND i.CATAGORY_MID_NAME like CONCAT('%',#{entity.catagoryMidName,jdbcType=VARCHAR},'%')
				</if>
				<if test="entity.catagoryId != null">
					AND i.CATAGORY_ID = #{entity.catagoryId,jdbcType=INTEGER}
				</if>
				<if test="entity.catagoryName != null and entity.catagoryName != ''">
					AND i.CATAGORY_NAME like CONCAT('%',#{entity.catagoryName,jdbcType=VARCHAR},'%')
				</if>
				<if test="entity.brandId != null">
					AND i.BRAND_ID = #{entity.brandId,jdbcType=INTEGER}
				</if>
				<if test="entity.brandName != null and entity.brandName != ''">
					AND i.BRAND_NAME = #{entity.brandName,jdbcType=VARCHAR}
				</if>
				<if test="entity.modelId != null">
					AND i.MODEL_ID = #{entity.modelId,jdbcType=INTEGER}
				</if>
				<if test="entity.modelName != null and entity.modelName != ''">
					AND i.MODEL_NAME = #{entity.modelName,jdbcType=VARCHAR}
				</if>
				<if test="entity.isNew != null and entity.isNew != ''">
					AND i.IS_NEW = #{entity.isNew,jdbcType=VARCHAR}
				</if>
				<if test="entity.sellType != null and entity.sellType != ''">
					AND i.SELL_TYPE = #{entity.sellType,jdbcType=VARCHAR}
				</if>
				<if test="entity.equipmentCondition != null and entity.equipmentCondition != ''">
					AND i.EQUIPMENT_CONDITION = #{entity.equipmentCondition,jdbcType=VARCHAR}
				</if>
				<if test="entity.procedures != null and entity.procedures != ''">
					AND i.PROCEDURES = #{entity.procedures,jdbcType=VARCHAR}
				</if>
				<if test="entity.src != null and entity.src != ''">
					AND i.SRC = #{entity.src,jdbcType=VARCHAR}
				</if>
				<if test="entity.equipYear != null and entity.equipYear != ''">
					AND i.EQUIP_YEAR = #{entity.equipYear,jdbcType=VARCHAR}
				</if>
				<if test="entity.workTime != null and entity.workTime != ''">
					AND i.WORK_TIME = #{entity.workTime,jdbcType=VARCHAR}
				</if>
				<if test="entity.price != null">
					AND i.PRICE = #{entity.price,jdbcType=DECIMAL}
				</if>
				<if test="entity.serialNum != null and entity.serialNum != ''">
					AND i.SERIAL_NUM = #{entity.serialNum,jdbcType=VARCHAR}
				</if>
				<if test="entity.inStockCode != null and entity.inStockCode != ''">
					AND i.IN_STOCK_CODE = #{entity.inStockCode,jdbcType=VARCHAR}
				</if>
				<if test="entity.remark != null and entity.remark != ''">
					AND i.REMARK = #{entity.remark,jdbcType=VARCHAR}
				</if>
				<if test="entity.equipmentLocation != null and entity.equipmentLocation != ''">
					AND i.EQUIPMENT_LOCATION = #{entity.equipmentLocation,jdbcType=VARCHAR}
				</if>
				<if test="entity.pubTime != null">
					AND i.PUB_TIME = #{entity.pubTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.validTime != null and entity.validTime != ''">
					AND i.VALID_TIME = #{entity.validTime,jdbcType=VARCHAR}
				</if>
				<if test="entity.stockCount != null and entity.stockCount != ''">
					AND i.STOCK_COUNT = #{entity.stockCount,jdbcType=VARCHAR}
				</if>
				<if test="entity.sellCount != null and entity.sellCount != ''">
					AND i.SELL_COUNT = #{entity.sellCount,jdbcType=VARCHAR}
				</if>
				<if test="entity.userId != null">
					AND i.USER_ID = #{entity.userId,jdbcType=INTEGER}
				</if>
				<if test="entity.isTop != null and entity.isTop != ''">
					AND IS_TOP = #{entity.isTop,jdbcType=VARCHAR}
				</if>
				<if test="entity.status != null and entity.status != ''">
					AND i.STATUS = #{entity.status,jdbcType=VARCHAR}
				</if>
					AND i.STATUS != 0
				<if test="entity.auditType != null">
					AND i.audit_type = #{entity.auditType,jdbcType=VARCHAR}
				</if>
				<if test="entity.weight != null and entity.weight != ''">
					AND i.WEIGHT = #{entity.weight,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND i.DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.userName != null and entity.userName != ''">
					AND u.real_name like CONCAT('%',#{entity.userName,jdbcType=VARCHAR},'%')
				</if>
		</where>
	</sql>


	<!-- 查询字段 -->
	<sql id="selectField">
		<![CDATA[
		SELECT
		       i.ID id,
		       i.CATAGORY_BIG_ID catagoryBigId,
		       i.CATAGORY_BIG_NAME catagoryBigName,
		       i.CATAGORY_MID_ID catagoryMidId,
		       i.CATAGORY_MID_NAME catagoryMidName,
		       i.CATAGORY_ID catagoryId,
		       i.CATAGORY_NAME catagoryName,
		       i.BRAND_ID brandId,
		       i.BRAND_NAME brandName,
		       i.MODEL_ID modelId,
		       i.MODEL_NAME modelName,
		       i.IS_NEW isNew,
		       i.SELL_TYPE sellType,
		       i.EQUIPMENT_CONDITION equipmentCondition,
		       i.PROCEDURES procedures,
		       i.SRC src,
		       i.EQUIP_YEAR equipYear,
		       i.WORK_TIME workTime,
		       i.PRICE price,
		       i.SERIAL_NUM serialNum,
		       i.IN_STOCK_CODE inStockCode,
		       i.REMARK remark,
		       i.EQUIPMENT_LOCATION equipmentLocation,
		       i.PUB_TIME pubTime,
		       i.VALID_TIME validTime,
		       i.STOCK_COUNT stockCount,
		       i.SELL_COUNT sellCount,
		       i.USER_ID userId,
		       i.IS_TOP isTop,
		       i.STATUS status,
		       i.audit_type auditType,
		       i.WEIGHT weight,
		       i.CREATE_TIME createTime,
		       i.CREATE_BY createBy,
		       i.MODIFY_TIME modifyTime,
		       i.MODIFY_BY modifyBy,
		       i.DELETED deleted,
		       i.price_unit priceUnit
		]]>
	</sql>
	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_INFOMATION i LEFT JOIN TSJX_USER u ON i.user_id=u.id
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.infomation.entity.InfomationUser">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectField" />
		<![CDATA[ ,u.real_name as userName
		  FROM TSJX_INFOMATION i LEFT JOIN TSJX_USER u ON i.user_id=u.id
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
