<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.customer.dao.impl.CustomerDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.customer.entity.Customer">
		<![CDATA[
		INSERT INTO CUSTOMER (
		   	ID,
		   	LOGIN_NAME,
		   	REG_TYPE,
		   	NICK_NAME,
		   	PASS_WORD,
		   	IMAGE,
		   	SEX,
		   	BIRTHDATE,
		   	MOBILE,
		   	EMAIL,
		   	QQ,
		   	MOBILE_STATUS,
		   	EMAIL_STATUS,
		   	STATUS,
		   	TELEPHONE,
		   	LOGIN_TIME,
		   	LOGIN_IP,
		   	CREATE_BY,
		   	CREATE_TIME,
		   	MODIFY_BY,
		   	MODIFY_TIME,
		   	DELETED,
		   	SRC
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{loginName,jdbcType=VARCHAR},
		   	#{regType,jdbcType=VARCHAR},
		   	#{nickName,jdbcType=VARCHAR},
		   	#{passWord,jdbcType=VARCHAR},
		   	#{image,jdbcType=VARCHAR},
		   	#{sex,jdbcType=VARCHAR},
		   	#{birthdate,jdbcType=TIMESTAMP},
		   	#{mobile,jdbcType=VARCHAR},
		   	#{email,jdbcType=VARCHAR},
		   	#{qq,jdbcType=VARCHAR},
		   	#{mobileStatus,jdbcType=INTEGER},
		   	#{emailStatus,jdbcType=INTEGER},
		   	#{status,jdbcType=INTEGER},
		   	#{telephone,jdbcType=VARCHAR},
		   	#{loginTime,jdbcType=TIMESTAMP},
		   	#{loginIp,jdbcType=VARCHAR},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{deleted,jdbcType=VARCHAR},
		   	#{src,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_CUSTOMER.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.customer.entity.Customer">
		UPDATE CUSTOMER
		<set>
			<if test="loginName != null">
				LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="regType != null">
				REG_TYPE = #{regType,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				NICK_NAME = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="passWord != null">
				PASS_WORD = #{passWord,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				IMAGE = #{image,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="birthdate != null">
				BIRTHDATE = #{birthdate,jdbcType=TIMESTAMP},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				QQ = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="mobileStatus != null">
				MOBILE_STATUS = #{mobileStatus,jdbcType=INTEGER},
			</if>
			<if test="emailStatus != null">
				EMAIL_STATUS = #{emailStatus,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="telephone != null">
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginIp != null">
				LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
			<if test="src != null">
				SRC = #{src,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.customer.entity.Customer">
		<![CDATA[
		UPDATE CUSTOMER
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       LOGIN_NAME loginName,
		       REG_TYPE regType,
		       NICK_NAME nickName,
		       PASS_WORD passWord,
		       IMAGE image,
		       SEX sex,
		       BIRTHDATE birthdate,
		       MOBILE mobile,
		       EMAIL email,
		       QQ qq,
		       MOBILE_STATUS mobileStatus,
		       EMAIL_STATUS emailStatus,
		       STATUS status,
		       TELEPHONE telephone,
		       LOGIN_TIME loginTime,
		       LOGIN_IP loginIp,
		       CREATE_BY createBy,
		       CREATE_TIME createTime,
		       MODIFY_BY modifyBy,
		       MODIFY_TIME modifyTime,
		       DELETED deleted,
		       SRC src
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.customer.entity.Customer">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM CUSTOMER
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.customer.entity.Customer" resultType="cn.com.tsjx.customer.entity.Customer">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM CUSTOMER
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="loginName != null and loginName != ''">
				AND LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="regType != null and regType != ''">
				AND REG_TYPE = #{regType,jdbcType=VARCHAR}
			</if>
			<if test="nickName != null and nickName != ''">
				AND NICK_NAME = #{nickName,jdbcType=VARCHAR}
			</if>
			<if test="passWord != null and passWord != ''">
				AND PASS_WORD = #{passWord,jdbcType=VARCHAR}
			</if>
			<if test="image != null and image != ''">
				AND IMAGE = #{image,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''">
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="birthdate != null">
				AND BIRTHDATE = #{birthdate,jdbcType=TIMESTAMP}
			</if>
			<if test="mobile != null and mobile != ''">
				AND MOBILE = #{mobile,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="qq != null and qq != ''">
				AND QQ = #{qq,jdbcType=VARCHAR}
			</if>
			<if test="mobileStatus != null">
				AND MOBILE_STATUS = #{mobileStatus,jdbcType=INTEGER}
			</if>
			<if test="emailStatus != null">
				AND EMAIL_STATUS = #{emailStatus,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				AND STATUS = #{status,jdbcType=INTEGER}
			</if>
			<if test="telephone != null and telephone != ''">
				AND TELEPHONE = #{telephone,jdbcType=VARCHAR}
			</if>
			<if test="loginTime != null">
				AND LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="loginIp != null and loginIp != ''">
				AND LOGIN_IP = #{loginIp,jdbcType=VARCHAR}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
			<if test="src != null and src != ''">
				AND SRC = #{src,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.customer.entity.Customer">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM CUSTOMER
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.loginName != null and entity.loginName != ''">
					AND LOGIN_NAME = #{entity.loginName,jdbcType=VARCHAR}
				</if>
				<if test="entity.regType != null and entity.regType != ''">
					AND REG_TYPE = #{entity.regType,jdbcType=VARCHAR}
				</if>
				<if test="entity.nickName != null and entity.nickName != ''">
					AND NICK_NAME = #{entity.nickName,jdbcType=VARCHAR}
				</if>
				<if test="entity.passWord != null and entity.passWord != ''">
					AND PASS_WORD = #{entity.passWord,jdbcType=VARCHAR}
				</if>
				<if test="entity.image != null and entity.image != ''">
					AND IMAGE = #{entity.image,jdbcType=VARCHAR}
				</if>
				<if test="entity.sex != null and entity.sex != ''">
					AND SEX = #{entity.sex,jdbcType=VARCHAR}
				</if>
				<if test="entity.birthdate != null">
					AND BIRTHDATE = #{entity.birthdate,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.mobile != null and entity.mobile != ''">
					AND MOBILE = #{entity.mobile,jdbcType=VARCHAR}
				</if>
				<if test="entity.email != null and entity.email != ''">
					AND EMAIL = #{entity.email,jdbcType=VARCHAR}
				</if>
				<if test="entity.qq != null and entity.qq != ''">
					AND QQ = #{entity.qq,jdbcType=VARCHAR}
				</if>
				<if test="entity.mobileStatus != null">
					AND MOBILE_STATUS = #{entity.mobileStatus,jdbcType=INTEGER}
				</if>
				<if test="entity.emailStatus != null">
					AND EMAIL_STATUS = #{entity.emailStatus,jdbcType=INTEGER}
				</if>
				<if test="entity.status != null">
					AND STATUS = #{entity.status,jdbcType=INTEGER}
				</if>
				<if test="entity.telephone != null and entity.telephone != ''">
					AND TELEPHONE = #{entity.telephone,jdbcType=VARCHAR}
				</if>
				<if test="entity.loginTime != null">
					AND LOGIN_TIME = #{entity.loginTime,jdbcType=TIMESTAMP}
				</if>
				<if test="entity.loginIp != null and entity.loginIp != ''">
					AND LOGIN_IP = #{entity.loginIp,jdbcType=VARCHAR}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
				<if test="entity.src != null and entity.src != ''">
					AND SRC = #{entity.src,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM CUSTOMER
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.customer.entity.Customer">
<!-- 		<include refid="mybatis.pageStartSQL" /> -->
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM CUSTOMER
		]]>
		<include refid="page_condition" />
<!-- 		<include refid="mybatis.pageEndSQL" /> -->
	</select>

</mapper>   
