@font-face {
  font-family: "iconfont";
  src: url('../../fonts/iconfont.eot?1441683981');
  src: url('../../fonts/iconfont.eot?1441683981#iefix') format("embedded-opentype"), url('../../fonts/iconfont.ttf?1441683981') format("truetype"), url('../../fonts/iconfont.woff?1441683981') format("woff"), url('../../fonts/iconfont.svg?1441683981') format("svg");
}
/* line 9, ../../sass/fonts/_base.scss */
.iconfont {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 9, ../../sass/common.scss */
a
html {
  color: #000;
  background: #ebebeb;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 11, ../../sass/common.scss */
input, textarea, a, button {
  outline: 0;
}

/* line 12, ../../sass/common.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 13, ../../sass/common.scss */
li {
  list-style-type: none;
}

/* line 14, ../../sass/common.scss */
p, ul, li, h2, h3, input {
  margin: 0;
  padding: 0;
}

/* line 15, ../../sass/common.scss */
a {
  text-decoration: none;
}

/* line 16, ../../sass/common.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 16, ../../sass/common.scss */
.clearfix {
  zoom: 1;
}

/* line 18, ../../sass/common.scss */
.f-l {
  float: left;
}

/* line 22, ../../sass/common.scss */
.f-r {
  float: right;
}

/* line 25, ../../sass/common.scss */
.col-3 {
  color: #333;
}

/* line 28, ../../sass/common.scss */
.col-6 {
  color: #666;
}

/* line 34, ../../sass/common.scss */
.txt-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .page-view for page view style warpper */
/* line 41, ../../sass/common.scss */
.page-view {
  min-height: 200px;
  font-family: 'Helvetica', 'Lucidia Grande', san-serif;
}

/* line 46, ../../sass/common.scss */
.ui-header {
  height: 64px;
  background-color: #F6F6F6;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid #E45540;
}
/* line 53, ../../sass/common.scss */
.ui-header .ui-title {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  max-width: 390px;
  font-size: 36px;
  color: #4B3A3A;
  overflow: hidden;
}
/* line 61, ../../sass/common.scss */
.ui-header .ui-title img {
  margin-top: 5px;
  border-radius: 32px;
  max-height: 50px;
  max-width: 50px;
  background: #ccc;
  border: 2px solid white;
}
/* line 71, ../../sass/common.scss */
.ui-header .ui-left, .ui-header .ui-right {
  position: absolute;
  top: 0;
  font-size: 36px;
  display: block;
  line-height: 64px;
  padding: 0 16px;
  color: #fff;
  text-decoration: none;
}
/* line 80, ../../sass/common.scss */
.ui-header .ui-left img, .ui-header .ui-right img {
  max-width: 80px;
  max-height: 40px;
  vertical-align: middle;
}
/* line 84, ../../sass/common.scss */
.ui-header .ui-left img.ui-logo, .ui-header .ui-right img.ui-logo {
  max-width: 200px;
}
/* line 89, ../../sass/common.scss */
.ui-header .ui-left {
  left: 0;
}
/* line 92, ../../sass/common.scss */
.ui-header .ui-right {
  right: 0;
}
/* line 96, ../../sass/common.scss */
.ui-header .ui-login {
  right: 0;
  line-height: 64px;
  text-align: center;
  padding: 0 10px;
  font-size: 12px;
  min-width: 80px;
  color: #333;
  background: #eee;
}
/* line 105, ../../sass/common.scss */
.ui-header .ui-login img {
  vertical-align: middle;
  margin-right: 10px;
}

/* line 114, ../../sass/common.scss */
.load {
  font-size: 24px;
}

/* line 118, ../../sass/common.scss */
.loading {
  font-size: 24px;
  text-align: center;
  color: #999;
}
/* line 122, ../../sass/common.scss */
.loading:before {
  content: url(//static.ts.com/app/images/loading.gif);
  vertical-align: middle;
  margin-right: 10px;
}

/* line 128, ../../sass/common.scss */
.loaded-all {
  font-size: 24px;
  text-align: center;
}

/* line 133, ../../sass/common.scss */
.img-error {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkZFOTBEQ0REQjlBQjExRTRBQTk2RThGRDc4NzE0QjNBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkZFOTBEQ0RFQjlBQjExRTRBQTk2RThGRDc4NzE0QjNBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RkU5MERDREJCOUFCMTFFNEFBOTZFOEZENzg3MTRCM0EiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RkU5MERDRENCOUFCMTFFNEFBOTZFOEZENzg3MTRCM0EiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5eviHYAAAJo0lEQVR42uydC3AV9RXGNw9C5CFKCb6oFdMgggoqjVMxEtGIrfXZIB3FUWzBKr5qqROqtSjiqBHR0WEQxVZBEV/4bovgIwgiUUCwJj5a0SIQEQIpIQJJ6Dn62+bvzu7N3purk5HzzXxD2L272f1//3POd87FMWPXrl2eof0g05bABDGYICaIwQQxQQwmiAliMEFMEIMJYjBBTBCDCWKCGEwQE8RggpggBhPEYIKYIAYTxAQxmCAmiMEEMUEMJojBBDFBDCaICWIwQUwQw3eD7Orq6lSv7SIsEQ4W7i9sFn4qfF04X7gjTc94iHB8itfWC68UNoacWyZ8QPio8FDhW8LHhf8Q3i1cLOwXuEbfaa5wbMQ9fyh8RPhTYVbMZ9wmfFh4Wd++fXdkp/CSHYTXCH8v3DviM2uFE4X3Ctv6X5Xq7+smzEjx2qjrVggvF54oHChcKTxV+BHny4U/CtmEExHtqZB73i/shWDbYz7jfsIbhVXCKRlVVVXJvGCe8HlhYczP64OfzS5obzhWuIif/yvMFX4hfEx4VYLrNgsnCO8MOVcrvBkxY0GiwpMsVSE/1sjPw5OJkD2ELwkHJHHNMEL858KmdiZID/6cjxhThFdwrJOwT8R1WezqjJDo12M7hWcKVxOFislsziLhAuGrHJ8pYkwm3XdItqjfmqQYPk4mvbUnlAqfIDLyWSg3BV0oXB7BLqTsnyS4v17/EOvbhTqmdfYwhPeoWyM531LUY77AwcLftmEB/iicJqxL4dqRzm5OBW8LFwaO3SScLXwaITQVb3DOTxceTX0pDrmnb2Ci8GfEG6WpiKjSSFQH9YbwFMyKmo4lqQjyKz+kUoQW5dOFs5K8LpecvCd/74q7aUjiHi+ECDKAopvH33Xx/+6cb8QpvRdxz9Y21jtEyEQEUMOwBr4ivI50t0DqRqPrdKMEUff0S+EJ5NKCNKSJO9Ta8ZIL2J31rVzzpfBAJz9/LpwUUVCTge+ANrC4+YHznUkpyo9Drl8ZI33/STgCU/MH5/gkosXjvJcoQnJIL+N4qHQiDx5DKG/E7t1DCojTj/RwCmI60IlNsXdI/zLQOf4XYaVwKn//JMa9/0N/8WvhPOe4bsZVlIFnEgmSrKVtK34gvIt8WhrDGhdjK1em8Rmm4Zi6R6QdV7gVSW6GPehrPNzbb5zmsYB0rFG2NGx00hlL+12J4eJnpK/WOtvjqAXNMe+rKXdmxLkMeoXzqRd1ITWvGOrz9WSB/WPHx6i/vxPuJbydjHA4x2/A3VWRjUJnWeUpWtp0oQQrmQjHhxTnRDgcOxuG+4RX4xzrqU0uRlB8lS9y7Drn2GuktCgU8Pm7WPQPhaN5nlHUF03XZ0hB7x9MWYe20dKmC9diNzeGnDuIUE9X/Wii2C4nbQXHFdPp2P3GsZl0eRjuq5ZdHgUdoXzGomujOITNX8Gs7z4+NyEYJZkUnThzojXccCnuJ85gbzEPUBPj85o2z02QrupYwHTgYgrqSaSs5REjktOwxNq3XETen9CKGB6baqRTF2tYj9VESDO8nKHmNwQpidFYHccOHYJLysPKNUTMc0ZTKAcTpvszPvkwRlcfhiGkq7jjl84887oY/VUFix+E1pcZOKxn2fGXsqBntXJfjb43Q3qXEmd4qXhJ+pApmIZtbsqKgt50KE3MGMYFW7yvx9S3s0jznfZ/Hbn+I375aVhp/dwcBHojxPf/f9YWcfwYakIyk+PtNKNR6MczDg85dyN5/v5AOtd3+AUpTU3Q1jZEqa59udSQg1nXyf7BRB34GKJoseMSPGZT2oVeLyyjl/A//y/hX4UXBFLEhTiWK+ieo3Z2GDRd9EryhSvZ1VHYwnxubsDq/pMifwaREcRYRApL29rtvxvz+XJoutVdXiSRMucr+1dVVdVAbgyimui5yhmIhfUGOovR7z/WC/uTO2cmGOo9TVrrGnL+AxrA3QY6fg/WkFURn61xHE4URpEaXva+Hi/7uzkK+dSBTRHnV3m7OTRl/c0LHyXn477eSnC976E/ZVTgtVKTlhKN+0acfzHieB+GjMVEYq8IFxh2XD+/T8BJ1pMea73obz2DjqsbJqbZC4zMk4SfHXTtN0sN2YnLu16ipTqbAlVGTvvSSV+9cD2z8d/DGbTpCxzFZzY5U9kcJzf7C76QhdBO9176CK0zHQMDxFys4pyQFziSZmwh4xa1nYP4HcMQuTdi9nRS4xOO0dgTAXJo+sayCVc5zeNZNHP9HIGzMDW62XbwLrm4ok44pzX8jk6I5mFm7g40j6sZn3SkHAxmHLMXaztMxDk2m8J3K4t8Ju6hmJvMQJQy6LEYlfxcwZ9Hey2j7FedOlAa6IKLvG9+vfkIxb8SYxCc/nZhYbthFhQ/DhiGdURATuD4BdS/AY5jnIro2aTrDizIfji4AkYkO0nZhUREDe/ypNO45jvp+Rl2/VBnUzay6EtxczOwtgsR1/+ORweQy0j/t2U6Nq+Gl9Ie4guOH0A4zcJZlVOU/VQwjcUvZJDWHTtc70TITUyP57LT/e82PsZx5SHsjJDomMxUdBGL9yDXPQgrGaHPY2MFj3dgQ3yOuBuJkCwWejvpyO9DDqQ53UYfU+i1fOunEX4if89kEwaHkdd6LV90DcSJqrMcz0bOcQaP2bQHg4h0xUm+II10jcV8SD/wb8eencdCj0Ok9Xj8TSxaBiF7M9eX0s324SHLiT5/gLiCXVPLA10dIsYI0pvHwmzlvr2J2o6knR68fH+auTruOZuo38KCFzGyWEuU+TZ7M6OTJmrhHdzHRVYrtdEjOsq8lm8AN5BClyHgZud3bmeyPogNPd03We536tucoqo3OYIdXMHCbyT8xpNntdjf4oyY/X7jSvy4+rlJRFgtUTeP0CwkBekufS6kAx/KTvfxPl1yHYLrNefwzL3pkdazaUrZIN2IjAJ2vp/7PaJuK2KtpfH0SDujyQhFIfOvz0g3O73wL666Uj98l+qn56k8XwPvoO/+CQ72IGfI+3qy/wzItctlCUYds+hyU8EY6onbsC6h4erOCCbXeeln2cEljHd8LGJTdXW+++jriDWQFKpR9hTp6FHGPG7zWEidauK9T3Bq5amOe+zptAgNbOrBTjrT33UJ75VJhDQ5UwU1FUWpCvJtQB3UA62MO76PaGLDjRPbuyTD/ncV7Qv2j61NEIMJYoIYTBATxGCCmCAGE8QEMZggBhPEBDGYICaIwQQxQQwmiAliMEEMJogJYjBBTBCDCWKCGEwQE8RgghhMEBPEYIKYIAYTxAQxmCC7J/4nwAATW1XMYOwBdwAAAABJRU5ErkJggg==") no-repeat 50% 50% transparent;
}

/* line 136, ../../sass/common.scss */
body {
  margin: 0;
}

/* footer */
/* line 140, ../../sass/common.scss */
.footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  background: #3B2E2E;
}
/* line 147, ../../sass/common.scss */
.footer a {
  display: inline-block;
  padding: 20px 0;
  width: 31.3%;
  font-size: 18px;
  color: #fff;
  font-family: 'microsoft yahei';
}
/* line 155, ../../sass/common.scss */
.footer .down-app {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
/* line 160, ../../sass/common.scss */
.footer .down-app img {
  width: 100%;
  height: 100%;
}
/* line 165, ../../sass/common.scss */
.footer .platform {
  font-size: 24px;
}
/* line 167, ../../sass/common.scss */
.footer .platform span {
  margin-right: 24px;
}
/* line 170, ../../sass/common.scss */
.footer .platform .on {
  color: #f56205;
}
/* line 172, ../../sass/common.scss */
.footer .platform .on a {
  color: #f56205;
}
/* line 177, ../../sass/common.scss */
.footer .copyright {
  font-size: 18px;
  color: #cccccc;
}
/* line 181, ../../sass/common.scss */
.footer .ui-button-black {
  width: 96%;
  margin-bottom: 15px;
}
/* line 184, ../../sass/common.scss */
.footer .ui-button-black a {
  padding: 0;
}

/* index max-width 640px */
/* line 191, ../../sass/common.scss */
.nav, .mod-slider {
  max-width: 640px;
  margin: 0 auto;
}

/* line 196, ../../sass/common.scss */
.no-data {
  text-align: center;
  font-size: 18px;
  color: #333;
}

/* line 203, ../../sass/common.scss */
.load {
  font-size: 24px;
}

/* line 207, ../../sass/common.scss */
.loading {
  font-size: 24px;
  text-align: center;
  color: #999;
}

/* line 212, ../../sass/common.scss */
.loaded-all {
  font-size: 24px;
  text-align: center;
}

/* line 217, ../../sass/common.scss */
.loading,
.loaded-all {
  float: left;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  background-color: #f0efed;
}
/* line 226, ../../sass/common.scss */
.loading .load-gif,
.loaded-all .load-gif {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 234, ../../sass/common.scss */
.loading:before,
.loaded-all:before {
  display: none;
}

/* line 239, ../../sass/common.scss */
.img-error {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 1, ../../sass/common/pro-info-nav.scss */
.mod-info {
  width: 100%;
}
/* line 3, ../../sass/common/pro-info-nav.scss */
.mod-info .hd {
  display: block;
  padding: 20px 10px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: url(../../images/bg.jpg) repeat-x center top;
  background-size: cover;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 14, ../../sass/common/pro-info-nav.scss */
.mod-info .hd .title {
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
/* line 21, ../../sass/common/pro-info-nav.scss */
.mod-info .hd .say-hi {
  padding: 0 32px;
  font-size: 22px;
  color: #fff;
}
/* line 25, ../../sass/common/pro-info-nav.scss */
.mod-info .hd .say-hi span {
  display: inline-block;
  vertical-align: center;
  line-height: 130px;
}
/* line 32, ../../sass/common/pro-info-nav.scss */
.mod-info .hd .say-hi .lv {
  position: relative;
  top: -4px;
  font-size: 18px;
  background: #FFE400;
  margin: 0 4px;
  padding: 0 12px;
  border-radius: 20px;
  height: 20px;
  width: 40px;
  color: #B94900;
}
/* line 46, ../../sass/common/pro-info-nav.scss */
.mod-info .bd {
  display: block;
  height: 60px;
  padding: 0;
  background: #fff;
  color: #666;
  bolder-top: 1px solid #CDCBCC;
  border-bottom: 1px solid #CDCBCC;
  margin: 0 auto;
}
/* line 55, ../../sass/common/pro-info-nav.scss */
.mod-info .bd:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 62, ../../sass/common/pro-info-nav.scss */
.mod-info .bd a {
  float: left;
  width: 20%;
  height: 100%;
  color: #666;
}
/* line 67, ../../sass/common/pro-info-nav.scss */
.mod-info .bd a:hover, .mod-info .bd a :active, .mod-info .bd a.current {
  text-decoration: none;
  color: #666;
  background: #eee;
}
/* line 75, ../../sass/common/pro-info-nav.scss */
.mod-info .bd .num {
  margin-top: 10px;
  line-height: 24px;
  font-size: 20px;
  display: block;
  text-align: center;
  color: #65a8a6;
}
/* line 83, ../../sass/common/pro-info-nav.scss */
.mod-info .bd .num-desc {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

/* line 91, ../../sass/common/pro-info-nav.scss */
.pro-search-box {
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #f6f6f6;
}
/* line 95, ../../sass/common/pro-info-nav.scss */
.pro-search-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: none;
  text-indent: 8px;
  border-radius: 3px;
  min-height: 36px;
  font-size: 16px;
  display: block;
  width: 100%;
  border: none;
  background: #fff url(../../images/dropdown_arrow.png) top right no-repeat;
}

/* line 4, ../../sass/module/message.scss */
.msg-list {
  margin: 10px auto;
  padding: 10px;
}
/* line 7, ../../sass/module/message.scss */
.msg-list li {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
/* line 12, ../../sass/module/message.scss */
.msg-list li img {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
/* line 19, ../../sass/module/message.scss */
.msg-list li .msg-info {
  margin-left: 120px;
  font-size: 16px;
  line-height: 22px;
  width: 55%;
  overflow: hidden;
}
/* line 25, ../../sass/module/message.scss */
.msg-list li .msg-info p {
  margin-bottom: 15px;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 30, ../../sass/module/message.scss */
.msg-list li .msg-info p.msg-title {
  font-weight: 700;
}
/* line 33, ../../sass/module/message.scss */
.msg-list li .msg-info p.msg-txt, .msg-list li .msg-info p.msg-date {
  color: #666;
}
/* line 38, ../../sass/module/message.scss */
.msg-list li .msg-btn {
  position: absolute;
  top: 40px;
  right: 0;
  width: 40px;
  text-align: center;
}
/* line 45, ../../sass/module/message.scss */
.msg-list li .msg-btn a .icon {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  /* line 58, ../../sass/module/message.scss */
  .msg-list li .msg-info {
    width: 80%;
  }
}
