<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.collection.dao.impl.CollectionDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.collection.entity.Collection">
		<![CDATA[
		INSERT INTO TSJX_COLLECTION (
		   	ID,
		   	USER_ID,
		   	INFORMATION_ID
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{userId,jdbcType=INTEGER},
		   	#{informationId,jdbcType=INTEGER}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_COLLECTION.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.collection.entity.Collection">
		UPDATE TSJX_COLLECTION
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=INTEGER},
			</if>
			<if test="informationId != null">
				INFORMATION_ID = #{informationId,jdbcType=INTEGER},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.collection.entity.Collection">
		<![CDATA[
		DELETE FROM TSJX_COLLECTION WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       USER_ID userId,
		       INFORMATION_ID informationId
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.collection.entity.Collection">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_COLLECTION
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.collection.entity.Collection" resultType="cn.com.tsjx.collection.entity.Collection">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_COLLECTION
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=INTEGER}
			</if>
			<if test="informationId != null">
				AND INFORMATION_ID = #{informationId,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.collection.entity.Collection">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_COLLECTION
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.userId != null">
					AND USER_ID = #{entity.userId,jdbcType=INTEGER}
				</if>
				<if test="entity.informationId != null">
					AND INFORMATION_ID = #{entity.informationId,jdbcType=INTEGER}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_COLLECTION
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.collection.entity.Collection">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_COLLECTION
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
