<div class="modal-header">
    <h3 class="modal-title">修改用户</h3>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="edit_form">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">登陆账户</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="登陆账户" required ng-model="user.userName">
                <span class="form-error" ng-show="submitted && edit_form.userName.$invalid">必须填写</span>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">用户名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="realName" name="realName" placeholder="用户名称" required ng-model="user.realName">
                <span class="form-error" ng-show="submitted && edit_form.realName.$invalid">必须填写</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号" required ng-model="user.mobile" >
                <span class="form-error" ng-show="submitted && edit_form.mobile.$invalid">请填写正确的手机号</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">座机号码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="座手机号" required ng-model="user.telephone">
                <span class="form-error" ng-show="submitted && edit_form.telephone.$invalid">请填写正确的号码</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱" required ng-model="user.email">
                <span class="form-error" ng-show="submitted && edit_form.email.$invalid">请填写邮箱地址</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="密码" required ng-model="user.password" >
                <span class="form-error" ng-show="submitted && edit_form.password.$invalid">请填写密码</span>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">qq</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="qq" name="qq" placeholder="qq" required ng-model="user.qq" >
                <span class="form-error" ng-show="submitted && edit_form.qq.$invalid">请填写qq号码</span>
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">所在城市</label>
            <div class="col-sm-3">
                <select name="provnice" required ng-model="user.provinceId" class="form-control" ng-options="id as name for (id, name) in provinceList">
                    <!-- <option value="{{c.cityId}}" ng-repeat="c in cityList">{{c.cityName}}</option> -->
                </select>
                <span class="form-error" ng-show="submitted && edit_form.provnice.$invalid">必须填写</span>
            </div>
            <div class="col-sm-3">
                <city-list name="city" required ng-model="user.cityId" provice="user.provinceId" class="form-control"></city-list>
                <!-- <select name="city" required ng-model="company.bankCity" class="form-control" city-list="">
                    <option value="{{c.cityId}}" ng-repeat="c in cityList">{{c.cityName}}</option>
                </select> -->
                <span class="form-error" ng-show="submitted && edit_form.city.$invalid">必须填写</span>
            </div>
        </div>

        <div class="form-group">
            <label for="bankName" class="col-sm-2 control-label">经营范围</label>
            <div class="col-sm-10">
                <input type="radio" ng-model="user.businessScope" value="1" checked> 工程机械
                <input type="radio" ng-model="user.businessScope" value="2"> 矿山机械
                <input type="radio" ng-model="user.businessScope" value="3"> 林业机械
                <input type="radio" ng-model="user.businessScope" value="4"> 农历机械
                <input type="radio" ng-model="user.businessScope" value="5"> 运输机械
            </div>
        </div>

        <div class="form-group">
            <label for="bankName" class="col-sm-2 control-label">经营性质</label>
            <div class="col-sm-10">
                <input type="radio" ng-model="user.businessNature" value="1" checked> 生产商
                <input type="radio" ng-model="user.businessNature" value="2"> 代理商
                <input type="radio" ng-model="user.businessNature" value="3"> 买家
                <input type="radio" ng-model="user.businessNature" value="4"> 卖家
                <input type="radio" ng-model="user.businessNature" value="5"> 买卖贸易
                <input type="radio" ng-model="user.businessNature" value="6"> 中介
                <input type="radio" ng-model="user.businessNature" value="7"> 维修
                <input type="radio" ng-model="user.businessNature" value="8"> 配件商
                <input type="radio" ng-model="user.businessNature" value="9"> 抵押
            </div>
        </div>

        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">用户类型</label>
            <div class="col-sm-3">
                <select name="userType" required ng-model="user.userType" class="form-control">
                    <option value="1">管理员</option>
                    <option value="2" selected>普通会员</option>
                </select>
                <span class="form-error" ng-show="submitted && edit_form.provnice.$invalid">必须填写</span>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="updateParam()"
            ng-disabled="submitting">保存
    </button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>