@charset "UTF-8";
/* 为空样式 */
/* line 4, ../sass/no-data.scss */
html {
  background-color: #f2f2f2;
}

/* line 7, ../sass/no-data.scss */
.empty {
  padding: 100px 60px;
  text-align: center;
  background-color: #f2f2f2;
  height: 100%;
}
/* line 12, ../sass/no-data.scss */
.empty .icon {
  font-size: 120px;
  display: inline-block;
  color: #cdcdcd;
}
/* line 17, ../sass/no-data.scss */
.empty .emt-txt {
  font-size: 24px;
  text-align: center;
  color: #999;
  margin: 40px auto 30px;
}
/* line 23, ../sass/no-data.scss */
.empty .ui-button-white {
  display: inline-block;
  width: 138px;
  height: 58px;
  line-height: 58px;
  font-size: 24px;
  color: #666;
}
