/* line 2, ../../sass/common/layout-nav.scss */
.float-left {
  float: left;
}

/* line 5, ../../sass/common/layout-nav.scss */
.float-right {
  float: right;
}

/* line 8, ../../sass/common/layout-nav.scss */
.display-none {
  display: none;
}

/* line 11, ../../sass/common/layout-nav.scss */
.loading {
  text-align: center;
  color: #666;
  font-size: 24px;
  line-height: 40px;
}

/* line 17, ../../sass/common/layout-nav.scss */
div {
  text-align: left;
}

/* line 20, ../../sass/common/layout-nav.scss */
.page-view-body {
  padding-bottom: 100px;
}

/*button*/
/* line 26, ../../sass/common/layout-nav.scss */
.ui-button {
  display: block;
}
/* line 28, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-white {
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 0 8px;
  width: auto;
  font-size: 24px;
  min-width: 140px;
  color: #666;
}
/* line 36, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-white:hover, .ui-button.ui-button-white :active {
  background-color: #f6f6f6;
}
/* line 39, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-white.disabled {
  background-color: #eee;
  color: #ccc;
}
/* line 44, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-red {
  border: 1px solid #DB0000;
  padding: 0 8px;
  width: auto;
  display: block;
  font-size: 24px;
  min-width: 140px;
}
/* line 51, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-red:hover, .ui-button.ui-button-red :active {
  border-color: #f63b3b;
  background-color: #f63b3b;
}
/* line 55, ../../sass/common/layout-nav.scss */
.ui-button.ui-button-red.disabled {
  border-color: #ff9292;
  background-color: #ff9292;
  color: #fff;
}

/* line 63, ../../sass/common/layout-nav.scss */
.mod-info {
  width: 100%;
}
/* line 65, ../../sass/common/layout-nav.scss */
.mod-info .hd {
  display: block;
  height: 130px;
  background: img-url("index-bg.jpg") repeat-x center top;
  background-size: cover;
}
/* line 70, ../../sass/common/layout-nav.scss */
.mod-info .hd .say-hi {
  padding: 0 32px;
  font-size: 22px;
  color: #fff;
}
/* line 74, ../../sass/common/layout-nav.scss */
.mod-info .hd .say-hi span {
  display: inline-block;
  vertical-align: center;
  line-height: 130px;
}
/* line 81, ../../sass/common/layout-nav.scss */
.mod-info .hd .say-hi .lv {
  position: relative;
  top: -4px;
  font-size: 18px;
  background: #FFE400;
  margin: 0 4px;
  padding: 0 12px;
  border-radius: 20px;
  height: 20px;
  width: 40px;
  color: #B94900;
}
/* line 95, ../../sass/common/layout-nav.scss */
.mod-info .bd {
  display: block;
  height: 120px;
  padding: 0;
  background: #fff;
  color: #666;
  bolder-top: 1px solid #CDCBCC;
  border-bottom: 1px solid #CDCBCC;
  margin: 0 auto;
}
/* line 104, ../../sass/common/layout-nav.scss */
.mod-info .bd:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 111, ../../sass/common/layout-nav.scss */
.mod-info .bd a {
  float: left;
  width: 33%;
  height: 100%;
  color: #666;
}
/* line 116, ../../sass/common/layout-nav.scss */
.mod-info .bd a:hover, .mod-info .bd a :active {
  text-decoration: none;
  color: #666;
}
/* line 121, ../../sass/common/layout-nav.scss */
.mod-info .bd .bd-l {
  width: 33%;
  max-width: 210px;
}
/* line 125, ../../sass/common/layout-nav.scss */
.mod-info .bd .bd-m {
  width: 33%;
  max-width: 210px;
  border-left: 1px solid #CDCBCC;
  border-right: 1px solid #CDCBCC;
}
/* line 131, ../../sass/common/layout-nav.scss */
.mod-info .bd .bd-r {
  width: 33%;
  max-width: 210px;
}
/* line 135, ../../sass/common/layout-nav.scss */
.mod-info .bd .num {
  font-size: 32px;
  display: block;
  padding: 20px 0 10px;
  text-align: center;
}
/* line 141, ../../sass/common/layout-nav.scss */
.mod-info .bd .num-desc {
  display: block;
  font-size: 22px;
  text-align: center;
}

/* line 149, ../../sass/common/layout-nav.scss */
.mod-links {
  padding: 0 20px;
}
/* line 151, ../../sass/common/layout-nav.scss */
.mod-links .bd {
  font-size: 30px;
}
/* line 153, ../../sass/common/layout-nav.scss */
.mod-links .bd .link-group {
  margin: 20px 0;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}
/* line 158, ../../sass/common/layout-nav.scss */
.mod-links .bd .link-group .link-item {
  color: #333;
  display: block;
  border-radius: 2px;
  line-height: 92px;
  padding: 0 24px;
  background: #fff;
  border-top: 1px solid #CCCCCC;
}
/* line 166, ../../sass/common/layout-nav.scss */
.mod-links .bd .link-group .link-item i {
  color: #676767;
  font-size: 34px;
}
/* line 175, ../../sass/common/layout-nav.scss */
.mod-links .ft .ui-button {
  height: auto;
  line-height: 80px;
  font-size: 36px;
  background: #f16320;
  border: 0;
}
