/* line 1, ../../sass/common/login-or-register.scss */
html, body {
  background: #302222;
}

/* line 4, ../../sass/common/login-or-register.scss */
.footer {
  background: #160606;
}

/* line 7, ../../sass/common/login-or-register.scss */
.logo {
  padding: 20px 0;
  width: 100%;
}
/* line 10, ../../sass/common/login-or-register.scss */
.logo img, .logo span {
  display: block;
  margin: 20px auto 0;
}
/* line 14, ../../sass/common/login-or-register.scss */
.logo span {
  height: 30px;
  color: #fff;
  font-size: 40px;
  width: 100px;
}
/* line 22, ../../sass/common/login-or-register.scss */
.logo .field-submit input {
  background-color: #548b89;
  border-color: #548b89;
}

/* line 29, ../../sass/common/login-or-register.scss */
.ui-form .field-submit, .ui-form .field-forgetpassword {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 32, ../../sass/common/login-or-register.scss */
.ui-form .field-submit.field-forgetpassword, .ui-form .field-forgetpassword.field-forgetpassword {
  text-align: center;
}
/* line 34, ../../sass/common/login-or-register.scss */
.ui-form .field-submit.field-forgetpassword p, .ui-form .field-submit.field-forgetpassword a, .ui-form .field-forgetpassword.field-forgetpassword p, .ui-form .field-forgetpassword.field-forgetpassword a {
  margin-bottom: 10px;
  display: block;
  color: #fff;
}
/* line 42, ../../sass/common/login-or-register.scss */
.ui-form .ui-form-mod .ui-form-hd {
  color: #fff;
  font-size: 18px;
}
/* line 47, ../../sass/common/login-or-register.scss */
.ui-form .ui-form-mod .ui-form-bd input {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
/* line 52, ../../sass/common/login-or-register.scss */
.ui-form .ui-form-mod .ui-form-bd .ui-tiptext-error {
  color: #f00;
}

/* line 59, ../../sass/common/login-or-register.scss */
section {
  margin-bottom: 40px;
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  /* line 63, ../../sass/common/login-or-register.scss */
  .ui-form .ui-form-mod .ui-form-bd {
    width: 100%;
  }
}
