/* line 1, ../../sass/common/pro-list.scss */
.pro-list {
  margin: 0 auto;
  padding: 10px 5px;
  overflow: hidden;
}
/* line 5, ../../sass/common/pro-list.scss */
.pro-list .pro-box {
  position: relative;
  float: left;
  width: 94.5%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 120px;
  background: #f5f5f5;
}
/* line 14, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-select {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  line-height: 120px;
  background: rgba(101, 168, 166, 0.6);
  z-index: 2;
}
/* line 26, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-select img {
  vertical-align: middle;
  z-index: 3;
}
/* line 31, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-img {
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background: #EAEAEA img-url("pro-bg.jpg") no-repeat center center;
}
/* line 39, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-img img {
  max-width: 120px;
  max-height: 120px;
  vertical-align: middle;
}
/* line 46, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info {
  margin-left: 130px;
  height: 120px;
  font-size: 14px;
  overflow: hidden;
}
/* line 51, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p, .pro-list .pro-box .pro-info a, .pro-list .pro-box .pro-info strong {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 700;
  overflow: hidden;
}
/* line 58, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info .pro-title, .pro-list .pro-box .pro-info .pro-price {
  font-size: 18px;
}
/* line 61, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info strong {
  color: #e45540;
}
/* line 64, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg {
  height: 10px;
  background: #CCCCCC;
}
/* line 67, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg span {
  display: block;
  height: 10px;
}
/* line 72, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg.sp-1 span {
  width: 30%;
  background: #f00;
}
/* line 78, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg.sp-2 span {
  width: 60%;
  background: #e45540;
}
/* line 84, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg.sp-3 span {
  width: 90%;
  background: #65a8a6;
}
/* line 90, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.pro-msg.sp-4 span {
  width: 100%;
  background: #65a8a6;
}
/* line 96, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.col-6 {
  font-size: 12px;
}
/* line 98, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-info p.col-6 span {
  font-weight: 700;
}
/* line 104, ../../sass/common/pro-list.scss */
.pro-list .pro-box .pro-new-up {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #65a8a6;
}
/* line 114, ../../sass/common/pro-list.scss */
.pro-list .pro-box.no-buy .pro-img img {
  opacity: 0.6;
}
/* line 117, ../../sass/common/pro-list.scss */
.pro-list .pro-box.no-buy .pro-img span {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #e45540;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  /* line 134, ../../sass/common/pro-list.scss */
  .pro-list .pro-box {
    width: 47%;
  }
}
