/* line 1, ../../sass/common/scrollTop.scss */
.back2top {
  position: fixed;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  text-align: center;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  cursor: pointer;
  -webkit-transform: scale(0, 0);
}
/* line 16, ../../sass/common/scrollTop.scss */
.back2top i {
  display: block;
  line-height: 90px;
  font-size: 48px;
  color: #999999;
}
