<div class="modal-header">
    <h3 class="modal-title">操作记录</h3>
</div>
<div class="modal-body">

    <div class="line">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>操作人</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in vm.hisData">
                <td ng-bind="t.operator"></td>
                <td ng-bind="t.createTime"></td>
                <td>
                    <a class="btn btn-primary btn-xs" ng-model="t.ratePath" ng-click="downLoadFunc(t.ratePath)">查看详情</a>
                    <!--<a class="btn btn-primary btn-xs" href="#">恢复当前版本</a>-->
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="submit()" ng-disabled="submitting">提交</button>-->
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>