/* line 1, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: #ccc;
  -webkit-overflow-scrolling: touch;
}
/* line 9, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}
/* line 15, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress .progress-icon {
  display: inline-block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  transform: rotate(0deg);
}
/* line 26, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress .progress-loading {
  transform: rotate(180deg);
}
/* line 30, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress .progress-info {
  display: inline-block;
  width: 100px;
  height: 40px;
  text-align: left;
}
/* line 36, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress .progress-info .progress-tips {
  text-align: left;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
/* line 42, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .progress .progress-info .progress-date {
  text-align: left;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
/* line 50, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .scroll {
  position: relative;
  transition: 0s;
  background-color: #fff;
}
/* line 54, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .scroll li {
  margin-top: 4px;
  padding: 10px;
  height: 36px;
  border-radius: 4px;
  background-color: rgba(186, 186, 186, 0.48);
  color: rgba(68, 68, 68, 0.76);
  line-height: 36px;
}
/* line 64, ../../../sass/common/scroll-load/scroll-load.scss */
.wrap-progress .scroll-back {
  transition: top .5s;
}
