<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.brand.dao.impl.BrandDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.brand.entity.Brand">
		<![CDATA[
		INSERT INTO TSJX_BRAND (
		   	ID,
		   	BRAND_NAME,
		   	FIRST_LETTER,
		   	CATAGORY_ID,
		   	CREATE_TIME,
		   	CREATE_BY,
		   	MODIFY_TIME,
		   	MODIFY_BY,
		   	DELETED
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{brandName,jdbcType=VARCHAR},
		   	#{firstLetter,jdbcType=VARCHAR},
		   	#{catagoryId,jdbcType=INTEGER},
		   	#{createTime,jdbcType=TIMESTAMP},
		   	#{createBy,jdbcType=VARCHAR},
		   	#{modifyTime,jdbcType=TIMESTAMP},
		   	#{modifyBy,jdbcType=VARCHAR},
		   	#{deleted,jdbcType=VARCHAR}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_BRAND.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.brand.entity.Brand">
		UPDATE TSJX_BRAND
		<set>
			<if test="brandName != null">
				BRAND_NAME = #{brandName,jdbcType=VARCHAR},
			</if>
			<if test="firstLetter != null">
				FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR},
			</if>
			<if test="catagoryId != null">
				CATAGORY_ID = #{catagoryId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
			</if>
			<if test="deleted != null">
				DELETED = #{deleted,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.brand.entity.Brand">
		<![CDATA[
		UPDATE TSJX_BRAND
		   SET DELETED     = #{deleted,jdbcType=VARCHAR},
		       MODIFY_BY   = #{modifyBy,jdbcType=VARCHAR},
		       MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       BRAND_NAME brandName,
		       FIRST_LETTER firstLetter,
		       CATAGORY_ID catagoryId,
		       CREATE_TIME createTime,
		       CREATE_BY createBy,
		       MODIFY_TIME modifyTime,
		       MODIFY_BY modifyBy,
		       DELETED deleted
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		 WHERE ID = #{id,jdbcType=INTEGER}
		   AND DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.brand.entity.Brand" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="brandName != null and brandName != ''">
				AND BRAND_NAME = #{brandName,jdbcType=VARCHAR}
			</if>
			<if test="firstLetter != null and firstLetter != ''">
				AND FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR}
			</if>
			<if test="catagoryId != null">
				AND CATAGORY_ID = #{catagoryId,jdbcType=INTEGER}
			</if>
			<if test="deleted != null and deleted != ''">
				AND DELETED = #{deleted,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		 WHERE DELETED = #{deleted,jdbcType=VARCHAR}
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.brandName != null and entity.brandName != ''">
					AND BRAND_NAME = #{entity.brandName,jdbcType=VARCHAR}
				</if>
				<if test="entity.firstLetter != null and entity.firstLetter != ''">
					AND FIRST_LETTER = #{entity.firstLetter,jdbcType=VARCHAR}
				</if>
				<if test="entity.catagoryId != null">
					AND CATAGORY_ID = #{entity.catagoryId,jdbcType=INTEGER}
				</if>
				<if test="entity.deleted != null and entity.deleted != ''">
					AND DELETED = #{entity.deleted,jdbcType=VARCHAR}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_BRAND
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
