<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tsjx.brand.dao.impl.BrandDaoImpl">

	<!-- 插入实体 -->
	<insert id="insert" parameterType="cn.com.tsjx.brand.entity.Brand">
		<![CDATA[
		INSERT INTO TSJX_BRAND (
		   	ID,
		   	NAME,
		   	FIRST_LETTER,
		   	CATAGORY_ID
		) VALUES (
		   	#{id,jdbcType=INTEGER},
		   	#{name,jdbcType=VARCHAR},
		   	#{firstLetter,jdbcType=unkown},
		   	#{catagoryId,jdbcType=INTEGER}
		)
		]]>
		<selectKey databaseId="mysql" keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		<selectKey databaseId="oracle" keyProperty="id" order="BEFORE" resultType="long">
			<![CDATA[
				SELECT SEQ_TSJX_BRAND.nextval as id FROM dual
			]]>
		</selectKey>
	</insert>

	<!-- 更新实体 -->
	<update id="update" parameterType="cn.com.tsjx.brand.entity.Brand">
		UPDATE TSJX_BRAND
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="firstLetter != null">
				FIRST_LETTER = #{firstLetter,jdbcType=unkown},
			</if>
			<if test="catagoryId != null">
				CATAGORY_ID = #{catagoryId,jdbcType=INTEGER},
			</if>
		</set>
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 删除实体 -->
	<update id="delete" parameterType="cn.com.tsjx.brand.entity.Brand">
		<![CDATA[
		DELETE FROM TSJX_BRAND WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</update>

	<!-- 查询字段 -->
	<sql id="selectFieldSQL">
		<![CDATA[
		SELECT 
		       ID id,
		       NAME name,
		       FIRST_LETTER firstLetter,
		       CATAGORY_ID catagoryId
		]]>
	</sql>

	<!-- 查询 -->
	<select id="get" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		 WHERE ID = #{id,jdbcType=INTEGER}
		]]>
	</select>

	<!-- 查询 -->
	<select id="find" parameterType="cn.com.tsjx.brand.entity.Brand" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		]]>
		<where>
			<if test="id != null">
				AND ID = #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="firstLetter != null">
				AND FIRST_LETTER = #{firstLetter,jdbcType=unkown}
			</if>
			<if test="catagoryId != null">
				AND CATAGORY_ID = #{catagoryId,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<!-- 查询所有 -->
	<select id="findAll" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		]]>
	</select>

	<!-- 分页查询（条件） -->
	<sql id="page_condition">
		<where>
				<if test="entity.name != null and entity.name != ''">
					AND NAME = #{entity.name,jdbcType=VARCHAR}
				</if>
				<if test="entity.firstLetter != null">
					AND FIRST_LETTER = #{entity.firstLetter,jdbcType=unkown}
				</if>
				<if test="entity.catagoryId != null">
					AND CATAGORY_ID = #{entity.catagoryId,jdbcType=INTEGER}
				</if>
		</where>
	</sql>

	<!-- 分页查询（计数） -->
	<select id="page_count" parameterType="map" resultType="int">
		<![CDATA[
		SELECT count(*)
		  FROM TSJX_BRAND
		]]>
		<include refid="page_condition" />
	</select>

	<!-- 分页查询（数据） -->
	<select id="page_datas" parameterType="map" resultType="cn.com.tsjx.brand.entity.Brand">
		<include refid="mybatis.pageStartSQL" />
		<include refid="selectFieldSQL" />
		<![CDATA[
		  FROM TSJX_BRAND
		]]>
		<include refid="page_condition" />
		<include refid="mybatis.pageEndSQL" />
	</select>

</mapper>   
